{% extends 'base.html' %}
{% block conteudo %}

<form method="POST" action="{{ url_for('instituicao.cadastrarInstituicao') }}">
    <h1 class="mt-4">Gerenciamento de Instituições</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{url_for('instituicao.listar')}}" style="color: gray">Tabela de Viaturas</a>
        </li>
        <li class="breadcrumb-item active">{{ "Cadastro" if not form.id.data else "Exclusão" }} de Instituições</li>
    </ol>
    
    <div class="card mb-2">
        <div class="card-header">
            <i class="fas fa-landmark"></i>
            Cadastro de Instituições
        </div>
        <div class="card-body">
            <div class="form-group mb-3 row justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.txtInstituicao.label(class_="form-label")}}
                    {{form.txtInstituicao(class_="form-control")}}
                    {% for error in form.txtInstituicao.errors %}
                    <div class="important">
                        {{error}}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.txtSigla.label(class_="form-label")}}
                    {{form.txtSigla(class_="form-control")}}
                    {% for error in form.txtSigla.errors %}
                    <div class="important">
                        {{error}}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.id}}
                </div>
            </div>
            <!-- Botões com ajuste para diferentes tamanhos de tela -->
            <div class="d-flex justify-content-start mb-2">
                <!-- Botão Voltar-->
                <button class="btn btn-danger me-2" type="button"
                    onclick="window.location.href='{{url_for('instituicao.listar')}}';">Voltar</button>
                {% if form.id.data %}
                <!-- Botão Excluir visível em todos os tamanhos -->
                <button class="btn btn-danger me-2" type="button"
                    onclick="window.location.href='{{url_for('instituicao.excluir', id=form.id.data)}}';">Excluir</button>
                {% endif %}
                {% if not form.id.data %}
                <!-- Botão Cadastrar VTR visível em todos os tamanhos -->
                {{ form.submit(class="btn btn-success") }}
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock conteudo %}