{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid border mt-2 rounded mb-2">

  <div class="container-fluid mt-2">

    <div class="card mb-2">
      <div class="card-body">
          <div class="row d-flex align-items-center">
              <div class="col-9">
                  <h5 class="card-title">Gerenciamento de usuário dos Grupos de Despacho</h5>
                  <p class="card-text">Gerencie aqui os usuários responsáveis pelos Grupos de Despacho</p>
              </div>
              <div class="col-3 d-flex justify-content-end">
                   <!-- Botão Cadastrar VTR -->
                   <button type="button" class="btn btn-primary bg-primary" onclick="window.location.href='{{ url_for('usuariogrupodespacho.prepareCadastrarUsuarioGrupoDespacho') }}';">Cadastrar</button>
              </div>
          </div>
      </div>
    </div>
    
    <div class="card mb-2">
          <div class="card-header">
              <p class="card-text" style="font-weight: 600;">Consulta Usuário ao Grupo de Despacho</p>
          </div>
          <div class="card-body" style="font-size: 0.8rem !important;">
            <!-- Parametros para consulta -->
          </div>    
    </div>
    <!-- Lista Viaturas -->
    <div class="table-resposive">
      <table class="table border table-striped table-hover table-borderless">
        {% if listUsuarioGrupoDespacho != None %}
          <thead>
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col">Grupo de Despacho</th>
            </tr>
          </thead>
          <tbody>
            {% for row in listUsuarioGrupoDespacho.items %}
              <tr>
                <td>{{ row.usuario.name }}</td>
                <td>{{ row.grupoDespacho.txtNome }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr>
            <td>Nenhuma solicitação cadastrada</td>
          </tr>
        {% endif %}
      </table>
    </div>
      
      <!-- Pagination Links-->
      <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
        <a href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho', page=listUsuarioGrupoDespacho.prev_num) }}" class="btn btn-outline-primary 
            {% if listUsuarioGrupoDespacho.page == 1 %}disabled{% endif %}">
            &laquo;
        </a><!-- Loop through the number of pages to display a link for each-->
        {% for page_num in listUsuarioGrupoDespacho.iter_pages(left_edge=1, right_edge=1, left_current=1,
        right_current=2)
        %}{% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if listUsuarioGrupoDespacho.page == page_num %}
        <a href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho', page=page_num) }}" class="btn btn-primary">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho', page=page_num) }}" class="btn btn-outline-primary">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %} <a href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho', page=listUsuarioGrupoDespacho.next_num) }}" class="btn btn-outline-primary 
            {% if listUsuarioGrupoDespacho.page == listUsuarioGrupoDespacho.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
        Página {{ listUsuarioGrupoDespacho.page }} de {{ listUsuarioGrupoDespacho.pages }}
    </p>
  <!-- End Pagination Links-->
  </div>

</div>
{% endblock %}