{% extends 'base.html' %}

{% block conteudo %}

<form method="POST" enctype='multipart/form-data' action="{{ url_for('usuario.update') }}">

    <h1 class="mt-4">Gerenciamento dos Meus Dados</h1>

    <div class="card mb-2">
        <div class="card-header">
            <i class="fas fa-car"></i>
            Meus Dados
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.id}}
                </div>
                <!-- Código e Placa com ajuste para diferentes tamanhos de tela -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.name.label(class_="form-label")}}
                    {{form.name(class_="form-control")}}
                    {% for error in form.name.errors %}
                    <div class="important">{{error}}</div>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.email.label(class_="form-label")}}
                    {{form.email(class_="form-control")}}
                    {% for error in form.email.errors %}
                    <div class="important">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mb-3">
                <!-- Tipo de Patrulha e Instituição com ajuste para diferentes tamanhos de tela -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    {{form.cpf.label(class_="form-label")}}
                    {{form.cpf(class_="form-select")}}
                    {% for error in form.cpf.errors %}
                    <div class="important">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <!-- Botões com ajuste para diferentes tamanhos de tela -->
            <div class="d-flex justify-content-start mb-2">
                <!-- Botão Voltar-->
                <button class="btn btn-danger me-2" type="button" onclick="window.location.href='{{url_for('ocorrencia.iniciar')}}';">Voltar</button> 
                {{ form.submit(class="btn btn-success") }}
                </div>
        </div>
    </div>

</form>

{% endblock conteudo %}