{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('agente.cadastrarAgente') }}">
        <div class="card mb-2">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h5 class="card-title">Gerenciamento de Agentes</h5>
                        <p class="card-text">{{ "Cadastro" if not form.id.data else "Exclusão" }} de Agentes</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-group mb-3 row justify-content-between">
                    <div class="col">
                        {{form.usuario.label(class_="form-label")}}
                        {{form.usuario(class_="form-control")}}
                        {% for error in form.usuario.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}    
                    </div>
                    <div class="col">        
                        {{form.idInstituicao.label(class_="form-label")}}
                        {{form.idInstituicao(class_="form-select")}}
                        {% for error in form.idInstituicao.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>    
                </div>
                <!-- Botões com ajuste para diferentes tamanhos de tela -->
                <div class="d-flex justify-content-start mb-2">
                    <!-- Botão Voltar-->
                    <button class="btn btn-primary me-2" type="button" onclick="window.location.href='{{url_for('agente.listar')}}';">Voltar</button>                          
                    {% if form.id.data %}
                    <!-- Botão Excluir visível em todos os tamanhos -->
                    <button class="btn btn-danger me-2" type="button"
                        onclick="window.location.href='{{url_for('agente.excluir', id=form.id.data)}}';">Excluir</button>
                    {% endif %}
                    {% if not form.id.data %}
                    <!-- Botão Cadastrar VTR visível em todos os tamanhos -->
                    {{ form.submit(class="btn btn-success") }}
                    {% endif %}
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
{% endblock conteudo %}