{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('agente.cadastrarAgente') }}">
        <div class="card mb-2">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h5 class="card-title">Gerenciamento de Agentes</h5>
                        <p class="card-text">Cadastro de Agentes</p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <!-- Botão Voltar -->
                        <button class="btn btn-danger me-2" type="button"
                        onclick="window.location.href='{{url_for('agente.listarAgente')}}';">Voltar</button>
                        <!-- Botão Cadastrar VTR -->
                        {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-group mb-3 row justify-content-between">
                    <div class="col">
                        {{form.usuario.label(class_="form-label")}}
                        {{form.usuario(class_="form-control")}}
                        {% for error in form.usuario.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}    
                    </div>
                    <div class="col">        
                        {{form.instituicao.label(class_="form-label")}}
                        {{form.instituicao(class_="form-select")}}
                        {% for error in form.instituicao.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>    
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
{% endblock conteudo %}