{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}


<h1 class="mt-4">Gerenciamento de Agentes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Gerencie aqui os Agentes do sistema</li>
</ol>

<!-- Parametros para consulta -->
<div class="card mb-2">
  <form action="{{url_for('agente.search')}}" method="GET">
    <div class="card-header">
      <i class="fas fa-search me-1"></i>
      Consulta de Agentes
    </div>
    <div class="card-body pb-0">
      <div class="row">
        <!-- Ajuste das colunas para diferentes tamanhos de tela -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{searchForm.agenteSearch.label(class_="form-label")}}
          {{searchForm.agenteSearch(class="form-control form-control")}}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{searchForm.idInstituicaoSearch.label(class_="form-label")}}
          {{searchForm.idInstituicaoSearch(class="form-control form-control")}}
        </div>
        <div class="col-12 mt-3 d-flex justify-content-lg-start justify-content-sm-center">
          {{ searchForm.submitSearch(class_="btn btn-primary me-2") }}
          <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('agente.listar')}}';"><i class="fa fa-eraser"></i> Limpar</button>
          <!-- Botão Cadastrar VTR -->
          <button type="button" class="btn btn-success ms-2"
            onclick="window.location.href='{{ url_for('agente.prepareCadastrarAgente')}}';"><i class="fa fa-plus"></i> Adicionar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Lista Viaturas -->
<div class="card">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Tabela de Agentes
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped m-0" style="font-size: 14px;">
        {% if listAgente.items %}
        <thead>
          <tr class="text-center table-secondary">
            <th scope="col">Usuário</th>
            <th scope="col">Instituição</th>
            <th scope="col">Criação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for row in listAgente.items %}
          <tr class="text-center">
            <td>{{ row.usuario.name.capitalize() }}</td>
            <td>{{ row.instituicao.txtInstituicao }}</td>
            <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
            <td class="text-center"><button type="button" class="btn btn-danger"
                onclick="window.location.href='{{ url_for('agente.prepareExcluir', id=row.id) }}';"><i
                  class="fas fa-trash-alt"></i> Excluir</button></td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tr>
          <td>Nenhuma solicitação cadastrada</td>
        </tr>
        {% endif %}
      </table>
    </div>
    {% if not noPagination and listAgente.total > 10 %}
    <div class="d-flex justify-content-end m-3 mr-3">
    <!-- Pagination Links -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <!-- Previous Page Link -->
        <li class="page-item {% if listAgente.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('agente.search', page=listAgente.prev_num, **searchForm.data) }}"
            tabindex="-1" aria-disabled="{% if listAgente.page == 1 %}true{% endif %}">Anterior</a>
        </li>
    
        <!-- Page Number Links -->
        {% for page_num in listAgente.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <li class="page-item {% if listAgente.page == page_num %}active{% endif %}">
          <a class="page-link" href="{{ url_for('agente.search', page=page_num, **searchForm.data) }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
    
        <!-- Next Page Link -->
        <li class="page-item {% if listAgente.page == listAgente.pages %}disabled{% endif %}">
          <a class="page-link"
            href="{{ url_for('agente.search', page=listAgente.next_num, **searchForm.data) }}">Próxima</a>
        </li>
      </ul>
    </nav>
    <!-- Optionally showing current page and total pages -->
    <!-- <p class="text-secondary fs-7 text-center">Página {{ listAgente.page }} de {{ listAgente.pages }}</p> -->
    <!-- End Pagination Links -->
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}