{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}


<form method="POST" enctype='multipart/form-data' action="{{ url_for('composicao.cadastrarComposicao') }}">
     
<h1 class="mt-4">Gerenciamento de Composição</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro de Composição</li>
</ol>

<div class="card mb-2">
    <div class="card-header">
        <i class="fas fa-car-side"></i>
        Formação de Composição
    </div>
    <div class="card-body">
        <div class="form-group mb-3 row justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-12">
                {{form.viatura.label(class_="form-label")}}
                {{form.viatura(class_="form-select")}}
                {% for error in form.viatura.errors %}
                <div class="important">
                    {{error}}
                </div>
                {% endfor %}    
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">        
                {{form.agente.label(class_="form-label")}}
                {{form.agente(class_="form-select")}}
                {% for error in form.agente.errors %}
                <div class="important">
                    {{error}}
                </div>
                {% endfor %}
            </div>    
        </div>
        <div class="d-flex flex-wrap justify-content-start">
            <!-- Botão Voltar -->
            <button class="btn btn-danger me-2" type="button"
                onclick="window.location.href='{{url_for('composicao.listarComposicao')}}';">Voltar</button>
            <!-- Botão Cadastrar VTR -->
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </div>
</div>
</form>

{% endblock conteudo %}