{% extends 'base.html' %}
{% block conteudo %}

<h1 class="mt-4">Gerenciamento de Composições</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{url_for('composicao.listarComposicao')}}" style="color: gray; text-decoration: underline;">Listar Composições</a></li>
    <li class="breadcrumb-item active">Finalização de Composição</li>
</ol>
        
<div class="card mb-2">
    <h5 class="card-header" style="background-color: #212529; color: aliceblue; ">
        <i class="fas fa-question-circle fw-bold" style="color: white;"></i> Deseja realmente finalizar a composição?
    </h5>
    <div class="card-body" style="background-color: rgb(183, 172, 172);">
        <div class="form-group row d-flex align-items-center">
            <div class="col-12 mb-2">
                <span><strong>Viatura: </strong></span> {{composicaoViatura.viatura}}
            </div>
            <div class="col-12">        
                <span><strong>Agente: </strong></span>  {{composicaoViatura.agente.usuario.name.capitalize()}}
            </div>  
            <div class="col-12 gap-2 mt-3 d-flex justify-content-start">
                <!-- Botão Voltar -->
                <button class="btn btn-danger me-2" type="button"
                    onclick="window.location.href='{{url_for('composicao.listarComposicao')}}';">Voltar</button>
                <button class="btn btn-danger" type="button"
                    onclick="window.location.href='{{ url_for('composicao.finalizarComposicao', idComposicaoViatura=composicaoViatura.id) }}';"><i class="fas fa-times"></i> Finalizar</button>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}