{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<h1 class="mt-4">Gerenciamento de Composição</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Gerencie aqui os Agentes de uma Composição do sistema</li>
</ol>
                  
<div class="col d-flex justify-content-start mb-3">
      <button type="button" class="btn btn-primary bg-primary" onclick="window.location.href='{{ url_for('composicao.prepareCadastrarComposicao') }}';"><i class="fa fa-plus"></i> Nova Composição</button>
</div>

<div class="container-fluid" >

  <div class="container">
    {% if listComposicao %}
      <div class="row justify-content-start">
            {% for row in listComposicao.items %}
              <div class="col-lg-3 col-sm-12 mb-3 d-flex justify-content-start align-items-center">
                <div class="card" style="max-width: 320px;">
                  <h5 class="card-header fw-bold" style="background-color: #212529; color: aliceblue; ">
                  <i class="fas fa-car fw-bold" style="color: white;"></i>
                    Viatura: {{ row.viatura.txtPlaca }}
                  </h5>  
                  <div class="card-body" style="background-color: rgb(183, 172, 172);">
                    <p><strong>Agente: </strong> {{ row.agente.usuario.name }}</p>
                    <p><strong>Instituição: </strong>{{ row.agente.instituicao.txtInstituicao }}</p>
                    <p><strong>Data: </strong>{{row.dataInicio.strftime('%d/%m/%Y' + ' às ' '%H:%M' + 'h')}}</p>
                    <p><strong>Finalização: </strong>{{row.dataFim.strftime('%d/%m/%Y %H:%M') if row.dataFim else "" }}</p>
                    <div class="d-grid gap-2 mt-2">
                    <a
                    href="{{ url_for('composicao.prepareFinalizarComposicao', idComposicaoViatura=row.id) }}"
                    class="btn btn-danger"
                    role="button"
                    title="Finalizar">
                    <i class="fas fa-times"></i> Finalizar
                    </a>
                    </div>
                  </div>
                </div>
              </div>  
            {% endfor %}
      </div>    
        <!-- {% else %}
          <tr>
            <td>Nenhuma solicitação cadastrada</td>
          </tr> -->
    {% endif %}
      
  </div>

</div>
  {% if listComposicao.total >= 10 %}
  <!-- Pagination Links-->
  <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
      <a href="{{ url_for('composicao.listarComposicao', page=listComposicao.prev_num) }}" class="btn btn-outline-primary 
          {% if listComposicao.page == 1 %}disabled{% endif %}">
          &laquo;
      </a><!-- Loop through the number of pages to display a link for each-->
      {% for page_num in listComposicao.iter_pages(left_edge=1, right_edge=1, left_current=1,
      right_current=2)
      %}{% if page_num %}
      <!-- Check for the active page and set the link to "Active"-->
      {% if listComposicao.page == page_num %}
      <a href="{{ url_for('composicao.listarComposicao', page=page_num) }}" class="btn btn-primary">
          {{ page_num }}
      </a>
      {% else %}
      <a href="{{ url_for('composicao.listarComposicao', page=page_num) }}" class="btn btn-outline-primary">
          {{ page_num }}
      </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %} <a href="{{ url_for('composicao.listarComposicao', page=listComposicao.next_num) }}" class="btn btn-outline-primary 
          {% if listComposicao.page == listComposicao.pages %}disabled{% endif %}">
          &raquo;
      </a>
  </div>
  <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
      Página {{ listComposicao.page }} de {{ listComposicao.pages }}
  </p>
  {% endif %}
<!-- End Pagination Links-->
 
{% endblock %}