{% extends 'base.html' %}
{% block conteudo %}

<h1 class="mt-4">Gerenciamento de tipos de patrulha</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Gerencie aqui os tipos de patrulhas do sistema</li>
</ol>

<!-- Parametros para consulta -->
<div class="card mb-2">
  <form action="{{url_for('tipopatrulha.search')}}" method="GET">
    <div class="card-header">
      <i class="fas fa-search me-1"></i>
      Consulta de Tipo de Patrulhas
    </div>
    <div class="card-body">
      <div class="row">
        <!-- Ajuste das colunas para diferentes tamanhos de tela -->
        <div class="col-lg-6 col-md-6 col-sm-12">
          {{searchForm.txtTipoPatrulhaSearch.label(class_="form-label")}}
          {{searchForm.txtTipoPatrulhaSearch(class="form-control form-control")}}
        </div>
        <div class="d-flex justify-content-start mt-3">
          {{ searchForm.submitSearch(class_="btn btn-primary me-2") }}
          <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{ url_for('tipopatrulha.listar')}}';"><i class="fa fa-eraser"></i> Limpar</button>
          <!-- Botão Cadastrar VTR -->
          <button type="button" class="btn btn-success ms-2"
            onclick="window.location.href='{{ url_for('tipopatrulha.prepareCadastrar')}}';"><i class="fa fa-plus"></i> Adicionar</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Lista de Tipos de Patrulhas -->
<div class="card">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Tabela de Tipos de Patrulhas
  </div>
  <div class="card-body p-0">
    {% if listTipoPatrulha.items %}
    <div class="table-resposive">
      <table class="table table-bordered table-hover table-striped m-0" style="font-size: 14px;">
          <thead>
            <tr class="text-center table-secondary">
              <th scope="col">Descricao</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for row in listTipoPatrulha.items %}
              <tr class="text-center">
                <td>{{ row.txtTipoPatrulha }}</td>
                <td class="text-center"><button type="button" class="btn btn-danger"
                  onclick="window.location.href='{{ url_for('tipopatrulha.prepareExcluir', id=row.id) }}';"><i class="fas fa-trash-alt"></i> Excluir</button></td>
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr>
            <td>Nenhuma solicitação cadastrada</td>
          </tr>
        {% endif %}
      </table>
    </div>
    {% if not noPagination and listTipoPatrulha.total > 10 %}
    <div class="d-flex justify-content-end m-3 mr-3">
    <!-- Pagination Links-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <!-- Previous Page Link -->
        <li class="page-item {% if listTipoPatrulha.page == 1 %}disabled{% endif %}">
          <a class="page-link"
            href="{{ url_for('tipopatrulha.search', page=listTipoPatrulha.prev_num, **searchForm.data) }}" tabindex="-1"
            aria-disabled="{% if listTipoPatrulha.page == 1 %}true{% endif %}">Anterior</a>
        </li>
    
        <!-- Page Number Links -->
        {% for page_num in listTipoPatrulha.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <li class="page-item {% if listTipoPatrulha.page == page_num %}active{% endif %}">
          <a class="page-link" href="{{ url_for('tipopatrulha.search', page=page_num, **searchForm.data) }}">{{ page_num
            }}</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
    
        <!-- Next Page Link -->
        <li class="page-item {% if listTipoPatrulha.page == listTipoPatrulha.pages %}disabled{% endif %}">
          <a class="page-link"
            href="{{ url_for('tipopatrulha.search', page=listTipoPatrulha.next_num, **searchForm.data) }}">Próxima</a>
        </li>
      </ul>
    </nav>
    <!-- Showing current page and total pages -->
    <!-- <p class="text-secondary fs-7 text-end">Página {{ listTipoPatrulha.page }} de {{ listTipoPatrulha.pages }}</p> -->
    <!-- End Pagination Links -->
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}