.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
}
#map { 
    height: 45em;
    width: 180em;
}
.map_dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}