{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('grupodespacho.cadastrarGrupoDespacho') }}">
        <div class="card mb-2">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h5 class="card-title">Gerenciamento de Grupo de Despachos</h5>
                        <p class="card-text">{{ "Cadastro" if not form.id.data else "Exclusão" }} de Grupo de Despachos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-group mb-3 row justify-content-between">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        {{form.id}}
                    </div>                    
                    <div class="col">
                        {{form.txtNome.label(class_="form-label")}}
                        {{form.txtNome(class_="form-control")}}
                        {% for error in form.txtNome.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}    
                    </div>
                    <div class="col">        
                        {{form.idRegional.label(class_="form-label")}}
                        {{form.idRegional(class_="form-select")}}
                        {% for error in form.idRegional.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div> 
                    <!-- Botões com ajuste para diferentes tamanhos de tela -->
                    <div class="d-flex justify-content-start mb-2">
                        <!-- Botão Voltar-->
                        <button class="btn btn-danger me-2" type="button" onclick="window.location.href='{{url_for('grupodespacho.listar')}}';">Voltar</button> 
                        {% if form.id.data %}
                        <!-- Botão Excluir visível em todos os tamanhos -->
                        <button class="btn btn-danger me-2" type="button"
                            onclick="window.location.href='{{url_for('grupodespacho.excluir', id=form.id.data)}}';">Excluir</button>
                        {% endif %}
                        {% if not form.id.data %}
                        <!-- Botão Cadastrar VTR visível em todos os tamanhos -->
                        {{ form.submit(class="btn btn-success") }}
                        {% endif %}
                    </div>                       
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
{% endblock conteudo %}