{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

  <div class="container-fluid mt-2">

    <div class="card mb-2">
      <div class="card-header">
          <div class="row d-flex align-items-center">
              <div class="col-9">
                  <h5 class="card-title">Gerenciamento de Grupos de Despacho</h5>
                  <p class="card-text">Gerencie aqui os Grupos de Despacho</p>
              </div>
              <div class="col-3 d-flex justify-content-end">
                   <button type="button" class="btn btn-primary bg-primary" onclick="window.location.href='{{ url_for('grupodespacho.prepareCadastrarGrupoDespacho') }}';">Cadastrar</button>
              </div>
          </div>
      </div>
    </div>
    
    <!-- Parametros para consulta -->
    <div class="card mb-2">
      <form action="{{url_for('viatura.search')}}" method="GET">
        <div class="card-header">
          <i class="fas fa-search me-1"></i>
          Consulta de Grupo de Despacho
        </div>
        <div class="card-body pb-0">
          <div class="row">
            <!-- Ajuste das colunas para diferentes tamanhos de tela -->
            <div class="col-lg-3 col-md-6 col-sm-12">
              {{searchForm.txtNomeSearch.label(class_="form-label")}}
              {{searchForm.txtNomeSearch(class="form-control form-control")}}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              {{searchForm.idRegionalSearch.label(class_="form-label")}}
              {{searchForm.idRegionalSearch(class="form-control form-control")}}
            </div>
            <div class="d-flex justify-content-start mt-3">
              {{ searchForm.submitSearch(class_="btn btn-primary me-2") }}
              <button type="button" class="btn btn-outline-info"
                onclick="window.location.href='{{ url_for('grupodespacho.listar')}}';">Limpar</button>
              <!-- Botão Cadastrar VTR -->
              <button type="button" class="btn btn-success ms-2"
                onclick="window.location.href='{{ url_for('grupodespacho.prepareCadastrarGrupoDespacho')}}';">Novo Grupo de Despacho</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Lista Regiões -->
    <div class="table-resposive">
      <table class="table border table-striped table-hover table-borderless">
        {% if listGrupoDespacho.items %}
          <thead>
            <tr class="text-center table-secondary">
              <th scope="col">Grupo de Despacho</th>
              <th scope="col">Regional</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for row in listGrupoDespacho.items %}
              <tr class="text-center">
                <td>{{ row.txtNome }}</td>
                <td>{{ row.regional.txtRegiao }}</td>
                <td class="text-center"><button type="button" class="btn btn-danger"
                  onclick="window.location.href='{{ url_for('grupodespacho.prepareExcluir', id=row.id) }}';"><i class="fas fa-trash-alt"></i> Excluir</button></td>
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr>
            <td>Nenhuma solicitação cadastrada</td>
          </tr>
        {% endif %}
      </table>
    </div>
    
    {% if not noPagination and listGrupoDespacho.total > 10 %}
    <!-- Pagination Links-->
    <nav aria-label="Page navigation">
      <ul class="pagination col m-0 d-grid d-md-flex mx-auto justify-content-md-center">
        <li class="page-item" ><a href="{{ url_for('grupodespacho.search', page=listGrupoDespacho.prev_num, **searchForm.data) }}" class="page-link" 
            {% if listGrupoDespacho.page == 1 %}disabled{% endif %}">
            Anterior
        </a></li><!-- Loop through the number of pages to display a link for each-->
        {% for page_num in listGrupoDespacho.iter_pages(left_edge=1, right_edge=1, left_current=1,
        right_current=2)
        %}{% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if listGrupoDespacho.page == page_num %}
        <li class="page-item"><a href="{{ url_for('grupodespacho.search', page=page_num, **searchForm.data) }}" class="page-link">
            {{ page_num }}
        </a></li>
        {% else %}
        <li class="page-item"><a href="{{ url_for('grupodespacho.search', page=page_num, **searchForm.data) }}" class="page-link">
            {{ page_num }}
        </a></li>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %} 
        <li class="page-item"><a href="{{ url_for('grupodespacho.search', page=listGrupoDespacho.next_num, **searchForm.data) }}" class="page-link 
            {% if listGrupoDespacho.page == listGrupoDespacho.pages %}disabled{% endif %}">
            Próximo
        </a></li>
      </ul>
    <!-- Showing current page and total pages
    <p class="text-secundary fs-7 text-end">Página {{ listGrupoDespacho.page }} de {{ listGrupoDespacho.pages }}</p> -->
    <!-- End Pagination Links -->
    {% endif %}
    </nav>

  </div>

</div>
{% endblock %}