{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">
    <div class="row">
        <section class="painel_esquerdo_gov">

            {% include 'includeLinksEsquerda.html' %}
      
        </section>
        <main class="col-md-12 col-lg-9 col-sm-12 col-xs-12">
            <form method="POST" enctype='multipart/form-data' action="{{ url_for('viatura.cadastrar') }}">
                <div class="container ">
                    <div class="titulo-cadastro-vtr">
                        <h5 class="titulo-vtr">Viaturas</h5>
                        <span class="subtitulo-vtr">Gerencie as viaturas do sistema</span>
                    </div>
                    <div class="button m-2 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    {{form.codigo.label(class_="form-label")}}
                    {{form.codigo(class_="form-control")}}
                    {% for error in form.codigo.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                    {% endfor %}
                    
                    <br>

                    {{form.placa.label(class_="form-label")}}
                    {{form.placa(class_="form-control")}}
                    {% for error in form.placa.errors %}
                        <div class="important">
                            {{error}}
                        </div> 
                    {% endfor %}

                    <br>

                    {{form.descricao.label(class_="form-label")}}
                    {{form.descricao(class_="form-control")}}
                    {% for error in form.descricao.errors %}
                        <div class="important">
                            {{error}}
                        </div> 
                    {% endfor %}

                    <br>

                    {{form.instituicao.label(class_="form-label")}}
                    {{form.instituicao(class_="form-select")}}
                    {% for error in form.instituicao.errors %}
                    <div class="important">
                        {{error}}
                    </div>
                    {% endfor %}

                    <br>

                    {{form.tipoPatrulha.label(class_="form-label")}}
                    {{form.tipoPatrulha(class_="form-select")}}
                    {% for error in form.tipoPatrulha.errors %}
                    <div class="important">
                        {{error}}
                    </div>
                    {% endfor %}

                </div>
                
                <div class="d-flex justify-content-end m-2 " >
                    <button type="submit" class="btn btn-danger"  onclick="window.location.href='{{url_for('evento.home')}}';">Voltar</button>
                </div>
                
            </form> 
        </main>
    </div>
</div>

{% endblock conteudo %}