{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('viatura.cadastrar') }}">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h5 class="card-title">Gerenciamento de Viaturas</h5>
                        <p class="card-text"> {{ "Cadastro" if not form.id.data else "Exclusão" }} de Viaturas</p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <!-- Botão Voltar -->
                        <button class="btn btn-danger me-2" type="button" onclick="window.location.href='{{url_for('viatura.listar')}}';">Voltar</button>
                        <!-- Botão Excluir -->
                        {% if form.id.data %}
                            <button class="btn btn-danger me-2" type="button" onclick="window.location.href='{{url_for('viatura.excluir', id=form.id.data)}}';">Excluir</button>
                        {% endif %}
                        <!-- Botão Cadastrar VTR -->
                        {% if not form.id.data %}
                            {{ form.submit(class_="btn btn-primary") }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body">
                <div class="form-group mb-3 row justify-content-between">
                    <div>
                        {{form.id}}
                    </div>
                    <div class="col">
                        {{form.txtCodigo.label(class_="form-label")}}
                        {{form.txtCodigo(class_="form-control")}}
                        {% for error in form.txtCodigo.errors %}
                            <div class="important">
                                {{error}}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">        
                        {{form.txtPlaca.label(class_="form-label")}}
                        {{form.txtPlaca(class_="form-control")}}
                        {% for error in form.txtPlaca.errors %}
                            <div class="important">
                                {{error}}
                            </div> 
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group mb-3 row justify-content-between">
                    <div class="col">
                        {{form.idTipoPatrulha.label(class_="form-label")}}
                        {{form.idTipoPatrulha(class_="form-select")}}
                        {% for error in form.idTipoPatrulha.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}    
                    </div>
                    <div class="col">        
                        {{form.idInstituicao.label(class_="form-label")}}
                        {{form.idInstituicao(class_="form-select")}}
                        {% for error in form.idInstituicao.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>    
                </div>
                <div class="form-group mb-3">
                    {{form.txtDescricao.label(class_="form-label")}}
                    {{form.txtDescricao(class_="form-control")}}
                    {% for error in form.txtDescricao.errors %}
                        <div class="important">
                            {{error}}
                        </div> 
                    {% endfor %} 
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
{% endblock conteudo %}