{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">
    <div class="row">
        <section class="painel_esquerdo_gov">

            {% include 'includeLinksEsquerda.html' %}
      
        </section>
        <main class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
            <div class="container">
                <div class="titulo-cadastro-vtr">
                    <h5 class="titulo-vtr">Viaturas</h5>
                    <span class="subtitulo-vtr">Gerencie as viaturas do sistema</span>
                </div>
            </div>
            <div class="button m-2 d-flex justify-content-end">
                 <!-- Botão Cadastrar Viatura -->
                <button type="button" class="btn btn-primary"  onclick="window.location.href='{{url_for('viatura.prepareCadastrar')}}';">Nova Viatura
                </button>
            </div>
            <div class="container mb-1 mt-3">
                <h6> <strong> <i class="bi bi-search"></i>REGISTROS </strong></h6>
                <hr class="mt-1">
            </div>
            <div class="row">

                <div class="col-8 m-1">
                  <input type="text" name="#" class="form-control form-control-sm m-1"
                    placeholder="Pesquisar viaturas" />
                </div>
      
                <div class="col-3 m-1">
                  <select class="form-select form-select-sm m-1" aria-label="#" name="#">
                    <option selected value=""> 10 </option>
                    <option value="#"> 15 </option>
                    <option value="#"> 20 </option>
                  </select>
                </div>

            </div>
          
            <div class="container mb-1 ml-2">
                <table class="table table-striped tabela-filtros">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Instituição</th>
                        <th scope="col">Tipo Patrulha</th>
                        </tr>
                    </thead>
                        <tbody>
                        <!-- Lista Viaturas -->
                        {% for viatura in listViatura.items %}
                        <tr>
                            <th scope="row">{{loop.index0 + 1}}</th>
                            <td>{{viatura.txtCodigo}}</td>
                            <td>{{viatura.txtPlaca}}</td>
                            <td>{{viatura.instituicao.txtInstituicao}}</td>
                            <td>{{viatura.tipoPatrulha.txtTipoPatrulha}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            <!-- Pagination Links-->
            <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
                <a href="{{ url_for('viatura.listar', page=listViatura.prev_num) }}" class="btn btn-outline-primary 
                    {% if listViatura.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a><!-- Loop through the number of pages to display a link for each-->
                {% for page_num in listViatura.iter_pages(left_edge=1, right_edge=1, left_current=1,
                right_current=2)
                %}{% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                {% if listViatura.page == page_num %}
                <a href="{{ url_for('viatura.listar', page=page_num) }}" class="btn btn-primary">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('viatura.listar', page=page_num) }}" class="btn btn-outline-primary">
                    {{ page_num }}
                </a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %} <a href="{{ url_for('viatura.listar', page=listViatura.next_num) }}" class="btn btn-outline-primary 
                    {% if listViatura.page == listViatura.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
            <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
                Página {{ listViatura.page }} de {{ listViatura.pages }}
            </p>
            <!-- End Pagination Links-->
            <div class="d-flex justify-content-end m-2 " >
                <button type="submit" class="btn btn-danger"  onclick="window.location.href='{{url_for('evento.home')}}';">Voltar</button>
            </div>

        </main>
    </div>
</div>

{% endblock conteudo %}