{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

  <div class="container-fluid mt-2">

    <div class="card mb-2">
      <div class="card-body">
          <div class="row d-flex align-items-center">
              <div class="col-9">
                  <h5 class="card-title">Gerenciamento de Viaturas</h5>
                  <p class="card-text">Gerencie aqui as Viaturas do sistema</p>
              </div>
              <div class="col-3 d-flex justify-content-end">
                   <!-- Botão Cadastrar VTR -->
                   <button type="button" class="btn btn-primary bg-primary" onclick="window.location.href='{{ url_for('viatura.prepareCadastrar') }}';">Nova Viatura</button>
              </div>
          </div>
      </div>
    </div>
    
    <div class="card mb-2">
          <div class="card-header">
              <p class="card-text" style="font-weight: 600;">Consulta Viaturas</p>
          </div>
          <div class="card-body" style="font-size: 0.8rem !important;">
            <!-- Parametros para consulta -->
          </div>    
    </div>
    <!-- Lista Viaturas -->
    <div class="table-resposive text-center">
      <table class="table border table-striped table-hover table-borderless">
        {% if listViatura != None %}
          <thead>
            <tr class="text-center table-secondary">
              <th scope="col">Código</th>
              <th scope="col">Placa</th>
              <th scope="col">Descrição</th>
              <th scope="col">Instituição</th>
              <th scope="col">Tipo</th>
            </tr>
          </thead>
          <tbody>
            {% for viatura in listViatura.items %}
              <tr>
                <td>{{ viatura.txtCodigo }}</td>
                <td>{{ viatura.txtPlaca }}</td>
                <td>{{ viatura.txtDescricao.capitalize() }}</td>
                <td>{{ viatura.instituicao.txtInstituicao }}</td>
                <td>{{ viatura.tipoPatrulha.txtTipoPatrulha }}</td>
              </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <tr>
            <td>Nenhuma solicitação cadastrada</td>
          </tr>
        {% endif %}
      </table>
    </div>
      
    {% if listViatura.total > 5 %}
    <!-- Pagination Links-->
    <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
      <a href="{{ url_for('viatura.listarViaturas', page=listViatura.prev_num) }}" class="btn btn-outline-primary 
                {% if listViatura.page == 1 %}disabled{% endif %}">
        &laquo;
      </a><!-- Loop through the number of pages to display a link for each-->
      {% for page_num in listViatura.iter_pages(left_edge=1, right_edge=1, left_current=1,
      right_current=2)
      %}{% if page_num %}
      <!-- Check for the active page and set the link to "Active"-->
      {% if listViatura.page == page_num %}
      <a href="{{ url_for('viatura.listarViaturas', page=page_num) }}" class="btn btn-primary">
        {{ page_num }}
      </a>
      {% else %}
      <a href="{{ url_for('viatura.listarViaturas', page=page_num) }}" class="btn btn-outline-primary">
        {{ page_num }}
      </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
      {% endfor %} <a href="{{ url_for('viatura.listarViaturas', page=listViatura.next_num) }}" class="btn btn-outline-primary 
                {% if listViatura.page == listViatura.pages %}disabled{% endif %}">
        &raquo;
      </a>
    </div>
    <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
      Página {{ listViatura.page }} de {{ listViatura.pages }}
    </p>
    <!-- End Pagination Links-->
    {% endif %}
    </div>
    
</div>
{% endblock %}