<!DOCTYPE html>
<html lang="pt-BR">

{% include 'include.html' %}

<body>
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ url_for('ocorrencia.iniciar') }}">
      <h3 class="urban_logo">URBANCAD</h3>
    </a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Procure aqui..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-link position-relative">
        <i class="fa-solid fa-bell"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          99+
          <span class="visually-hidden">unread messages</span>
        </span>
      </li>
      <!-- Toggle Button -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="toggleThemeBtn" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-adjust"></i></a>
        <!-- Dropdown para Modo Light/Dark -->
        <ul class="dropdown-menu dropdown-menu-end dropdown-theme-ul" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" onclick="setTheme('light')">
              <i class="fas fa-sun"></i> Modo Light
            </a></li>
          <li><a class="dropdown-item" href="#" onclick="setTheme('dark')">
              <i class="fas fa-moon"></i> Modo Dark
            </a></li>
          <li><a class="dropdown-item" href="#" onclick="setTheme('auto')">
              <i class="fas fa-adjust"></i> Modo Auto
            </a></li>
        </ul>
      </li>
      <!-- User Login -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-theme-ul" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#!"><i class="fas fa-user"></i> Olá, {{ current_user.name.capitalize() }}</a></li>
          <li><a class="dropdown-item" href="#!"><i class="fas fa-user-cog"></i> Meus Dados</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="{{url_for('login.logout')}}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>

  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            {% if ('CAD_DESPACHO' in session["roles"] or 'MACEIO_ADMIN' in session["roles"]) %}
            <div class="sb-sidenav-menu-heading"></div>
            <a class="nav-link" href="{{url_for('dashboard.dashboard')}}">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            {% endif %}
            <div class="sb-sidenav-menu-heading">ATENDIMENTO</div>           
            {% if ('MACEIO_ADMIN' in session["roles"]) %}
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
              Monitoramento
            </a>
            <a class="nav-link" href="{{url_for('ocorrencia.prepareSearchOcorrencia')}}">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Ocorrências
            </a>
            {% endif %}

            {% if ('MACEIO_ADMIN' in session["roles"] or 'CAD_DESPACHO' in session["roles"]) %}
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-atlas"></i></div>
              Gerenciar Despachos
              <div class="sb-sidenav-collapse-arrow"></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{{url_for('despacho.telaDespacho')}}">Despachos</a>
                <a class="nav-link" href="{{url_for('despacho.meusDespachos')}}">Meus despachos</a>
              </nav>
            </div>
            {% endif %}

            {% if ('CAD_AGENTE' in session["roles"]) %}
            <a class="nav-link" href="{{url_for('despacho.meusDespachos')}}">
              <div class="sb-nav-link-icon"><i class="fas fa-atlas"></i></div>
              Meus Despachos
            </a>
            <a class="nav-link" href="{{ url_for('composicao.listarComposicao') }}" >
              <div class="urban-gov-menu-gov">
                <i class="bi bi-car-front-fill"></i>
                <span class="titulo-menu-gov">Formar Composição</span>
              </div>
            </a>
            {% endif %}
            
            {% if ('MACEIO_ADMIN' in session["roles"]) %}
            <div class="sb-sidenav-menu-heading">ADMINISTRAÇÃO</div>
            <a class="nav-link" href="{{url_for('viatura.listar')}}">
              <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
              Viaturas
            </a>
            <a class="nav-link" href="{{ url_for('instituicao.prepareSearchInstituicao') }}">
              <div class="sb-nav-link-icon"><i class="fas fa-landmark"></i></div>
              Instituições
            </a>
            <a class="nav-link" href="{{ url_for('tipopatrulha.listarTipoPatrulha') }}">
              <div class="sb-nav-link-icon"><i class="fas fa-ambulance"></i></div>
              Tipo de Patrulha
            </a>
            <a class="nav-link" href="{{ url_for('grupodespacho.listarGrupoDespacho') }}">
              <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
              Grupo de Despacho
            </a>
            <a class="nav-link" href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho') }}">
              <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
              Usuário de Grupo de Despacho
            </a>
            <a class="nav-link" href="{{url_for('agente.listarAgente')}}">
              <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
              Agentes
            </a>
            <a class="nav-link" href="{{ url_for('maleta.listarDeteccao') }}">
              <div class="sb-nav-link-icon"><i class="fas fa-satellite-dish"></i></div>
              Detecção de Veículos
            </a>
            <div class="sb-sidenav-menu-heading">ANÁLISES</div>
            <a class="nav-link" href="charts.html">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Estatísticas
            </a>
            <a class="nav-link" href="charts.html">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Relatórios
            </a>
            {% endif %}
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">URBANCAD</div>
          Versão 1.2.2
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          {% with messages = get_flashed_messages(category_filter = ['sucess']) %}
          {% if messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">{{ messages[0] }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% endwith %}

          {% with messages = get_flashed_messages(category_filter = ['error']) %}
          {% if messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ messages[0] }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% endwith %}
          {% block conteudo %}
          <!-- Content -->
          {% endblock %}
        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Tiger Soluções 2024</div>
            <div>
              <a class="text-muted">Privacy Policy</a>
              &middot;
              <a class="text-muted">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>

  <script>
    // Função para definir o tema e ajustar o hover do mouse automaticamente
    function setTheme(theme) {
      const sidenav = document.getElementById('sidenavAccordion');
      const dropdownThemeUls = document.querySelectorAll('.dropdown-theme-ul');
      const isAuto = theme === 'auto';
      let isDarkMode;

      // Define a função para atualizar o tema com base na preferência do sistema
      const updateThemeForAutoMode = () => {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        isDarkMode = prefersDark;
        applyThemeClassesAndStyles(prefersDark ? 'dark' : 'light');
      };

      // Função para aplicar as classes de tema e estilos, incluindo hover
      function applyThemeClassesAndStyles(selectedTheme) {
        sidenav.classList.remove('sb-sidenav-light', 'sb-sidenav-dark');
        sidenav.classList.add(`sb-sidenav-${selectedTheme}`);

        dropdownThemeUls.forEach(dropdownThemeUl => {
          dropdownThemeUl.classList.remove('sb-sidenav-light', 'sb-sidenav-dark');
          dropdownThemeUl.classList.add(`sb-sidenav-${selectedTheme}`);
        });

        // Atualizar a cor e o hover dos itens de dropdown baseado no tema
        updateDropdownItemsColorAndHover(selectedTheme === 'dark');
      }

      if (isAuto) {
        updateThemeForAutoMode();
        // Adiciona um listener para mudanças na preferência do sistema
        window.matchMedia('(prefers-color-scheme: dark)').addListener(e => {
          updateThemeForAutoMode();
        });
      } else {
        isDarkMode = theme === 'dark';
        applyThemeClassesAndStyles(theme);
      }
    }

    // Atualizar a cor dos itens de dropdown e aplicar/remover eventos de hover
    function updateDropdownItemsColorAndHover(isDarkMode) {
      document.querySelectorAll('.dropdown-item').forEach(item => {
        item.style.color = isDarkMode ? 'white' : 'black';
        // Limpa estilos de hover prévios antes de adicionar novos
        item.onmouseenter = null;
        item.onmouseleave = null;

        if (isDarkMode) {
          // Aplicar estilos de hover para o tema escuro
          item.onmouseenter = () => item.style.backgroundColor = 'rgba(255,255,255,0.1)';
          item.onmouseleave = () => item.style.backgroundColor = '';
        } else {
          // Remover estilos de hover específicos, se necessário
          item.onmouseenter = () => item.style.backgroundColor = 'rgba(0,0,0,0.05)';
          item.onmouseleave = () => item.style.backgroundColor = '';
        }
      });
    }

    // Chamar a função com o tema inicial
    document.addEventListener('DOMContentLoaded', function () {
      setTheme('auto'); // Ajusta para 'auto', 'dark' ou 'light' conforme a necessidade
    });


  </script>
  {% endblock %}
</body>
</html>