<!DOCTYPE html>
<html lang="pt-BR">

{% include 'include.html' %}

  <body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="{{ url_for('ocorrencia.iniciar') }}"><h3 class="urban_logo">URBANCAD</h3></a>
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
          class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" style="visibility: hidden;">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
            aria-describedby="btnNavbarSearch" />
          <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Configurações</a></li>
            <li><a class="dropdown-item" href="#!">Log de atividades</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="{{ url_for('login.logout') }}">Sair</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading"></div>
              <a class="nav-link" href="{{url_for('dashboard.dashboard')}}">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
              </a>
              <div class="sb-sidenav-menu-heading">ATENDIMENTO</div>
              {% if ('CAD_DESPACHO' in session["roles"] or 'MACEIO_ADMIN' in session["roles"]) %}
              <a class="nav-link" href="#">
                <div class="sb-nav-link-icon"><i class="fas fa-map-marker-alt"></i></div>
                Monitoramento
              </a>
              <a class="nav-link" href="{{url_for('ocorrencia.prepareSearchOcorrencia')}}">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Ocorrências
              </a>
              {% endif %}
              {% if ('MACEIO_ADMIN' in session["roles"] or 'CAD_DESPACHO' in session["roles"]) %}
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false"
                aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-atlas"></i></div>
                Gerenciar Despachos
                <div class="sb-sidenav-collapse-arrow"></div>
              </a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="{{url_for('despacho.telaDespacho')}}">Despachos</a>
                  <a class="nav-link" href="{{url_for('despacho.meusDespachos')}}">Meus despachos</a>
                </nav>
              </div>
              {% endif %}
              {% if ('CAD_AGENTE' in session["roles"]) %}
              <a class="nav-link" href="{{url_for('despacho.meusDespachos')}}">
                <div class="sb-nav-link-icon"><i class="fas fa-atlas"></i></div>
                Meus Despachos
              </a>
              {% endif %}
              {% if ('MACEIO_ADMIN' in session["roles"]) %}
              <div class="sb-sidenav-menu-heading">ADMINISTRAÇÃO</div>
              <a class="nav-link" href="{{url_for('viatura.listarViaturas')}}">
                <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
                Viaturas
              </a>
              <a class="nav-link" href="{{ url_for('instituicao.prepareSearchInstituicao') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-landmark"></i></div>
                Instituições
              </a>
              <a class="nav-link" href="{{ url_for('tipopatrulha.listarTipoPatrulha') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-ambulance"></i></div>
                Tipo de Patrulha
              </a>
              <a class="nav-link" href="{{ url_for('grupodespacho.listarGrupoDespacho') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                Grupo de Despacho
              </a>
              <a class="nav-link" href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
                Usuário de Grupo de Despacho
              </a>
              <a class="nav-link" href="{{url_for('agente.listarAgente')}}">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Agentes
              </a>
              <a class="nav-link" href="{{ url_for('maleta.listarDeteccao') }}">
                <div class="sb-nav-link-icon"><i class="fas fa-satellite-dish"></i></div>
                Detecção de Veículos
              </a>
              <div class="sb-sidenav-menu-heading">ANÁLISES</div>
              <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Estatísticas
              </a>
              <a class="nav-link" href="charts.html">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Relatórios
              </a>
              {% endif %}
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">URBANCAD</div>
            Versão 1.2.2
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
          {% with messages = get_flashed_messages(category_filter = ['sucess']) %}
          {% if messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">{{ messages[0] }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% endwith %}
          
          {% with messages = get_flashed_messages(category_filter = ['error']) %}
          {% if messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ messages[0] }}.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% endwith %}
          {% block conteudo %}
          <!-- Content -->
          {% endblock %}
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Tiger Soluções 2024</div>
              <div>
                <a class="text-muted">Privacy Policy</a>
                &middot;
                <a class="text-muted">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
    </div>
    </div> 

  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/datatables-simple-demo.js')}}"></script>
  <script src="{{url_for('static', filename='js/map.js')}}"></script>
  {% endblock %}
  </body>
</html>
