{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('instituicao.cadastrarInstituicao') }}">
            <div class="card mb-2">
                <div class="card-header">
                    <div class="row d-flex align-items-center">
                        <div class="col-9">
                            <h5 class="card-title">Gerenciamento de Instituições</h5>
                            <p class="card-text">Cadastro de Instituições</p>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <!-- Botão Voltar -->
                            <button class="btn btn-danger me-2" type="button"
                            onclick="window.location.href='{{url_for('instituicao.prepareSearchInstituicao')}}';">Voltar</button>
                            <!-- Botão Cadastrar VTR -->
                            <button type="submit" class="btn btn-primary bg-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card mb-2">
                <div class="card-body">
                    <div class="form-group mb-3 row justify-content-between">
                        <div class="col">
                            {{form.txtInstituicao.label(class_="form-label")}}
                            {{form.txtInstituicao(class_="form-control")}}
                            {% for error in form.txtInstituicao.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col">        
                            {{form.txtSigla.label(class_="form-label")}}
                            {{form.txtSigla(class_="form-control")}}
                            {% for error in form.txtSigla.errors %}
                                <div class="important">
                                    {{error}}
                                </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
{% endblock conteudo %}