{% extends 'base.html' %}

{% block conteudo %}

<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" crossorigin=""></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@^3.0.9/dist/esri-leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet-vector@4.0.0/dist/esri-leaflet-vector.js"></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@^3.1.3/dist/esri-leaflet-geocoder.css">
<script src="https://unpkg.com/esri-leaflet-geocoder@^3.1.3/dist/esri-leaflet-geocoder.js"></script>

<div class="container-fluid border mt-2 rounded mb-2" id="form-cadastro-evento">
   
    <div class="container-fluid">
    <form method="POST" enctype='multipart/form-data' action="{{ url_for('ocorrencia.cadastrarOcorrencia') }}">
        <div class="container-fluid " id="form_cad_evento">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Ocorrências</h5>
                    <p class="card-text">Nova ocorrência</p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    <div class="card-title">
                        Formulário
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                {{form.txtInteressado.label(class_="form-label")}}
                                {{form.txtInteressado(class_="form-control")}}
                                {% for error in form.txtInteressado.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{form.isNoticianteVitima.label(class_="form-label")}}
                                {{form.isNoticianteVitima}}
                                {% for error in form.isNoticianteVitima.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{form.isNoticianteEstrangeiro.label(class_="form-label")}}
                                {{form.isNoticianteEstrangeiro}}
                                {% for error in form.isNoticianteEstrangeiro.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="passaporte" class="mb-3">
                                {{form.txtPassaporte.label(class_="form-label")}}
                                {{form.txtPassaporte(class_="form-control")}}
                                {% for error in form.txtPassaporte.errors %}
                                    <div class="important">
                                        {{error}}
                                    </div>
                                {% endfor %}  
                            </div>                     
                            <div id="cpf" class="mb-3">
                                {{form.txtCpf.label(class_="form-label")}}
                                {{form.txtCpf(class_="form-control")}}
                                {% for error in form.txtCpf.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div id="rg" class="mb-3">
                                {{form.txtRg.label(class_="form-label")}}
                                {{form.txtRg(class_="form-control")}}
                                {% for error in form.txtRg.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>                                                   
                            <div class="mb-2">
                                {{form.txtTelefone.label(class_="form-label")}}
                                {{form.txtTelefone(class_="form-control")}}
                                {% for error in form.txtTelefone.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col">
                            <div id="map" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body d-flex flex-column" >
                    <div class="mb-2">
                        {{ form.endereco.label(class_="form-label") }}
                        {{ form.endereco(class_="form-control", id="endereco") }}
                        <div id="endereco-suggestions"></div>
                        {% for error in form.endereco.errors %}
                            <div class="important">
                                {{ error }}
                            </div> 
                        {% endfor %}
                    </div>            
                    <div class="d-none">
                        {{form.latitude.label(class_="form-label")}}
                        {{form.latitude(class_="form-control")}}
                    </div>
                    <div class="d-none">
                        {{form.longitude.label(class_="form-label")}}
                        {{form.longitude(class_="form-control")}}
                    </div>
                    <div class="mb-3">
                        {{form.problema.label(class_="form-label")}}
                        {{form.problema(class_="form-control")}}
                        {% for error in form.problema.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{form.tipoOcorrencia.label(class_="form-label")}}
                        {{form.tipoOcorrencia(class_="form-select")}}
                        {% for error in form.tipoOcorrencia.errors %}
                        <div class="important">
                            {{error}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3" id="showSubtipoOcorrencia"></div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex mx-auto justify-content-md-end mb-2 mt-2">
                <button type="submit" class="btn btn-primary  ">Cadastrar</button>
                <button type="button" class="btn btn-danger"
                    onclick="window.location.href='{{url_for('ocorrencia.prepareSearchOcorrencia')}}';">Voltar
                </button>
            </div>            
        </div>  
    </form>
    </div>
</div>
</div>

{% block scripts %}
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
{% endblock %}

<script type="text/javascript">

    $(document).ready(function () {
        $('#tipoOcorrencia').change(function () {
            $.post("/loadSubtipoOcorrencia", {
                id: $('#tipoOcorrencia').val(),
            }, function (response) {
                $('#showSubtipoOcorrencia').html(response);
                $('#showSubtipoOcorrencia').append(response.htmlresponse);
            });
            return false;
        });
    }); 

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passaporte').hide();
        $('#isNoticianteEstrangeiro').change(function () {
            if ($(this).prop('checked')) {
                $('#passaporte').show();
                $('#cpf').hide();
                $('#rg').hide();
            } else {
                $('#passaporte').hide();
                $('#rg').show();
                $('#cpf').show();
            }
        });
    }); 
</script>

<script>
    let enderecoInput = document.getElementById('endereco');
    let suggestionsDiv = document.getElementById('endereco-suggestions');

    enderecoInput.addEventListener("input", function () {
        const address = enderecoInput.value;

        if (address.length >= 5) {
            fetchSuggestions(address);
        } else {
            suggestionsDiv.innerHTML = '';
        }
    });

    enderecoInput.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            const selectedSuggestion = suggestionsDiv.querySelector('.suggestion.selected');
            if (selectedSuggestion) {
                selectSuggestion(JSON.parse(selectedSuggestion.getAttribute('data-suggestion')));
            }
        }
    });

    function fetchSuggestions(address) {
        const url = 'https://nominatim.openstreetmap.org/search.php?q=' + address + '&dedupe=0&addressdetails=1&format=jsonv2';

        fetch(url)
            .then(response => response.json())
            .then(data => {
                suggestionsDiv.innerHTML = '';

                data.forEach(item => {

                    endereco = (item.address.road ? item.address.road : "") 
                            + ", " + (item.address.house_number ? item.address.house_number : "S/N")
                            + ", " + (item.address.suburb ? item.address.suburb : "")
                            + ", " + (item.address.city ? item.address.city : "" )
                            + " - " + (item.address.state ? item.address.state : "") 
                            + ", " + (item.address.postcode ? item.address.postcode : "") 
                            + ", " + (item.address.country ? item.address.country : "");

                    const suggestion = document.createElement('div');
                    suggestion.className = 'suggestion';
                    suggestion.textContent = endereco;
                    suggestion.setAttribute('data-suggestion', endereco);
                    suggestion.addEventListener('click', () => {
                        selectSuggestion(item, endereco);
                    });
                    suggestionsDiv.appendChild(suggestion);
                });
        })
        .catch(error => {
            console.error(error);
        });
    }

    function selectSuggestion(item, endereco) {
        const lat = item.lat;
        const lng = item.lon;
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
        document.getElementById('endereco').value = endereco;
        map.setView([lat, lng], 15);
        marker = L.marker([lat, lng]);
        adicionarMarcador(marker);
        suggestionsDiv.innerHTML = '';
    }
</script>

{% endblock conteudo %}