{% extends 'base.html' %}
{% block conteudo %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<div class="container-fluid rounded mb-2" id="form-cadastro-evento">
    <div class="container-fluid mt-3">
        <form id="cadastrarOcorrenciaForm" method="POST" enctype='multipart/form-data' action="{{ url_for('ocorrencia.cadastrarOcorrencia') }}">
            <div class="container-fluid " id="form_cad_evento">
                <h1 class="mt-4">Cadastro de Ocorrências</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{{url_for('ocorrencia.prepareSearchOcorrencia')}}" style="color: gray">Gerencia de Ocorrências</a>
                    </li>
                    <li class="breadcrumb-item active">Cadastro de Ocorrências</li>
                </ol>
                <div class="card mb-2">
                    <div class="card-header">
                        <i class="fas fa-book-open"></i>
                        Cadastro de Ocorrências
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    {{ form.endereco.label(class_="form-label") }}
                                    {{ form.endereco(class_="form-control", id="endereco") }}
                                    <div id="endereco-suggestions"></div>
                                    {% for error in form.endereco.errors %}
                                    <div class="important">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="d-none">
                                    {{form.latitude.label(class_="form-label")}}
                                    {{form.latitude(class_="form-control")}}
                                </div>
                                <div class="d-none">
                                    {{form.longitude.label(class_="form-label")}}
                                    {{form.longitude(class_="form-control")}}
                                </div>
                                <div class="row">
                                    <div class="mapa col-12 mb-3">
                                        <div id="map"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3">
                                        {{form.problema.label(class_="form-label")}}
                                        {{form.problema(class_="form-control")}}
                                        {% for error in form.problema.errors %}
                                        <div class="important">
                                            {{error}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            {{form.txtInteressado.label(class_="form-label")}}
                                            {{form.txtInteressado(class_="form-control")}}
                                            {% for error in form.txtInteressado.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="mb-3">
                                            {{form.isNoticianteVitima.label(class_="form-label")}}
                                            {{form.isNoticianteVitima}}
                                            {% for error in form.isNoticianteVitima.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="mb-3">
                                            {{form.isNoticianteEstrangeiro.label(class_="form-label")}}
                                            {{form.isNoticianteEstrangeiro}}
                                            {% for error in form.isNoticianteEstrangeiro.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="passaporte" class="mb-3">
                                            {{form.txtPassaporte.label(class_="form-label")}}
                                            {{form.txtPassaporte(class_="form-control")}}
                                            {% for error in form.txtPassaporte.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="cpf" class="mb-3">
                                            {{form.txtCpf.label(class_="form-label")}}
                                            {{form.txtCpf(class_="form-control cpf")}}
                                            {% for error in form.txtCpf.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="rg" class="mb-3">
                                            {{form.txtRg.label(class_="form-label")}}
                                            {{form.txtRg(class_="form-control")}}
                                            {% for error in form.txtRg.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            {{form.tipoOcorrencia.label(class_="form-label")}}
                                            {{form.tipoOcorrencia(class_="form-select")}}
                                            {% for error in form.tipoOcorrencia.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="mb-3" id="showSubtipoOcorrencia"></div>
                                        <div class="mb-2">
                                            {{form.txtTelefone.label(class_="form-label")}}
                                            {{form.txtTelefone(class_="form-control", id="phone" )}}
                                            {% for error in form.txtTelefone.errors %}
                                            <div class="important">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex mx-auto justify-content-md-start mb-2 mt-2">
                                <button type="button" class="btn btn-danger"
                                    onclick="window.location.href='{{url_for('ocorrencia.prepareSearchOcorrencia')}}';">Voltar
                                </button>
                                <button type="submit" class="btn btn-success  ">Cadastrar</button>
                            </div>
                        </div>    
                    </div>  
                </div> 
            </div> 
        </form>
    </div>
</div>

<!-- Máscaras de CPF e Telefone -->
<script>
        $(document).ready(function () {
            // Aplicar a máscara de CPF
            $(".cpf").mask("000.000.000-00", { reverse: true });
            $('#phone').mask('(00) 0000-0000');

            // Remover pontos e traço antes de enviar o formulário
            $("form").submit(function (event) {
                var cpfField = $(".cpf");
                var cpfValue = cpfField.val().replace(/[^\d]/g, ""); // Deixa apenas os dígitos
                cpfField.val(cpfValue);

                var phoneField = $("#phone");
                var phoneValue = phoneField.val().replace(/[^\d]/g, ""); // Deixa apenas os dígitos
                phoneField.val(phoneValue);
            });
        });
</script>
 

<script type="text/javascript">

    $(document).ready(function () {
        $('#tipoOcorrencia').change(function () {
            $.post("/loadSubtipoOcorrencia", {
                id: $('#tipoOcorrencia').val(),
            }, function (response) {
                $('#showSubtipoOcorrencia').html(response);
                $('#showSubtipoOcorrencia').append(response.htmlresponse);
            });
            return false;
        });
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#passaporte').hide();
        $('#isNoticianteEstrangeiro').change(function () {
            if ($(this).prop('checked')) {
                $('#passaporte').show();
                $('#cpf').hide();
                $('#rg').hide();
            } else {
                $('#passaporte').hide();
                $('#rg').show();
                $('#cpf').show();
            }
        });
    }); 
</script>

<script>
    let enderecoInput = document.getElementById('endereco');
    let suggestionsDiv = document.getElementById('endereco-suggestions');

    enderecoInput.addEventListener("input", function () {
        const address = enderecoInput.value;

        if (address.length >= 5) {
            fetchSuggestions(address);
        } else {
            suggestionsDiv.innerHTML = '';
        }
    });

    enderecoInput.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            const selectedSuggestion = suggestionsDiv.querySelector('.suggestion.selected');
            if (selectedSuggestion) {
                selectSuggestion(JSON.parse(selectedSuggestion.getAttribute('data-suggestion')));
            }
        }
    });

    function fetchSuggestions(address) {
        const url = 'https://nominatim.openstreetmap.org/search.php?q=' + address + '&dedupe=0&addressdetails=1&format=jsonv2';

        fetch(url)
            .then(response => response.json())
            .then(data => {
                suggestionsDiv.innerHTML = '';

                data.forEach(item => {

                    endereco = (item.address.road ? item.address.road : "")
                        + ", " + (item.address.house_number ? item.address.house_number : "S/N")
                        + ", " + (item.address.suburb ? item.address.suburb : "")
                        + ", " + (item.address.city ? item.address.city : "")
                        + " - " + (item.address.state ? item.address.state : "")
                        + ", " + (item.address.postcode ? item.address.postcode : "")
                        + ", " + (item.address.country ? item.address.country : "");

                    const suggestion = document.createElement('div');
                    suggestion.className = 'suggestion';
                    suggestion.textContent = endereco;
                    suggestion.setAttribute('data-suggestion', endereco);
                    suggestion.addEventListener('click', () => {
                        selectSuggestion(item, endereco);
                    });
                    suggestionsDiv.appendChild(suggestion);
                });
            })
            .catch(error => {
                console.error(error);
            });
    }

    function selectSuggestion(item, endereco) {
        const lat = item.lat;
        const lng = item.lon;
        document.getElementById('latitude').value = lat;
        document.getElementById('longitude').value = lng;
        document.getElementById('endereco').value = endereco;
        map.setView([lat, lng], 15);
        marker = L.marker([lat, lng]);
        adicionarMarcador(marker);
        suggestionsDiv.innerHTML = '';
    }
</script>

<script src="{{url_for('static', filename='js/map.js')}}"></script>

{% endblock conteudo %}

