{% extends 'base.html' %}
{% include 'include.html' %}
{% block conteudo %}

<!-- Script Sidenav -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/leaflet-ajax/dist/leaflet.ajax.min.js"></script>

<div class="container-fluid mt-2" id="form-cadastro-evento">

    <div class="container-fluid">

        <div class="card mb-2">
            <div class="card-header" style="background-color: #525B62;">
                <div class="card-title d-flex justify-content-center mt-1" style="color: antiquewhite;">
                    <span style="font-size: 1.5em;">Central de Despachos</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-1 mb-2">
            <div class="card col-3" id="formDespacho">
                <div class="card-header text-center" style="background-color: #525B62;">
                    <div class="card-title text-center" style="color: antiquewhite;"><strong>Ocorrência Atual</strong>
                    </div>
                    <span style="color: antiquewhite;"></span>
                </div>
                <div class="card-body" style="font-size: 0.9em; background-color: gray;  color: white;">
                    <div class="mb-1">
                        <strong>Descrição:</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Endereço:</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Status:</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Tipo de Ocorrência:</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Subtipo de Ocorrência:</strong>
                    </div>
                    <div class="mb-1">
                        <strong>Início:</strong>
                    </div>
                    <div class="mb-1">
                        <form method="POST" id="despacharForm" action="{{ url_for('despacho.despachar') }}">
                            <div class="mb-1">
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="d-none">
                                                {{form.ocorrencia.label(class_="form-label")}}
                                                {{form.ocorrencia(class_="form-control")}}
                                                {% for error in form.ocorrencia.errors %}
                                                <div class="important">
                                                    {{error}}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="d-none">
                                                {{form.idRegiao.label(class_="form-label")}}
                                                {{form.idRegiao(class_="form-control")}}
                                                {% for error in form.idRegiao.errors %}
                                                <div class="important">
                                                    {{error}}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="mb-1">
                                                {{form.despacharPara.label(class_="form-label")}}
                                                {{form.despacharPara(class_="form-control")}}
                                                {% for error in form.despacharPara.errors %}
                                                <div class="important">
                                                    {{error}}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="mt-auto">
                        <div id="dataDiv" class="text-center pt-1 pb-0" style="color: yellow;"></div>
                        <div id="HoraDiv" class="text-center pt-1 pb-0"
                            style="font-weight: bold; color: yellow;font-size: 1.5em;"> </div>
                    </div>
                </div>
            </div>
            <div class="mapa col-9">
                <div id="map"></div>
            </div>
        </div>
        <div id="listDespachos">

            <!-- <div class="card-header d-flex" style="background-color: #525B62;">
                <div class="form-check" style="color: antiquewhite;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="border-color: gray;">
                    <label class="form-check-label" for="flexCheckDefault">
                        <span>Finalizadas</span>
                    </label>
                </div>
                <div class="form-check" style="margin-left: 2em; color: antiquewhite;">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="border-color: gray;">
                    <label class="form-check-label" for="flexCheckDefault">
                        <span>Em atendimento</span>
                    </label>
                </div>
            </div> -->
            <!--A DEPACHAR-->
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Ocorrências a Despachar
                </div>
                <div class="card-body">
                    <table class="table  table-bordered" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>COD. OCORRÊNCIA</th>
                                <th>SOLICITANTE</th>
                                <th>ENDEREÇO</th>
                                <th>TIPO DE OCORRÊNCIA</th>
                                <th>SITUAÇÃO</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="listADespachar">
                            {% for row in listDespachar %}
                            <tr>
                                <td> {{ row.ocorrencia.numOcorrencia}} </td>
                                <td> {{ row.ocorrencia.interessado.txtInteressado}} </td>
                                <td> {{ row.ocorrencia.txtEndereco}} </td>
                                <td> {{ row.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}} </td>
                                <td> {{ row.statusOCorrencia.txtStatusOcorrencia}} </td>
                                <td class="text-start">
                                    <a onclick="prepareDespachar('{{ row.ocorrencia.id }}')"
                                        class="btn btn-danger btn-sm" role="button" title="Despachar">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--DESPACHADO-->
            <div class="card mb-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Ocorrências Despachadas
                </div>
                <div class="card-body">
                    <table class="table  table-bordered" style="font-size: 14px;">
                        <thead>
                            <tr>
                                <th>COD. OCORRÊNCIA</th>
                                <th>SOLICITANTE</th>
                                <th>EQUIPE</th>
                                <th>ENDEREÇO</th>
                                <th>TIPO DE OCORRÊNCIA</th>
                                <th>SITUAÇÃO</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="listDespachada">
                            {% for row in listOcorrenciaDespachada %}
                            <tr>
                                <td> {{ row.numOcorrencia}} </td>
                                <td> {{ row.interessado.txtInteressado}} </td>
                                <td>
                                    {% for despacho in row.listDespacho %}
                                    {{ despacho.composicaoViatura.viatura}}<br>
                                    {% endfor %}
                                </td>
                                <td> {{ row.txtEndereco}} </td>
                                <td> {{ row.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}} </td>
                                <td> {{ row.ocorrenciaHistorico.statusOCorrencia.txtStatusOcorrencia}} </td>
                                <td>
                                    <button class="btn btn-danger me-2" {% if not row.exibeFinalizarOcorrencia
                                        %}disabled{% endif %} type="button"
                                        onclick="window.location.href='{{ url_for('ocorrencia.finalizarOcorrencia', idOcorrenciaHistorico=row.ocorrenciaHistorico.id) }}';">Finalizar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('connect', function () {
        console.log('Conectado ao servidor');
    });

    socket.on('disconnect', function () {
        console.log('Desconectado do servidor');
    });
</script>

<script>

    var map = L.map('map').setView([-3.716638, -38.542298], 14)
    var idRegiao = document.getElementById("idRegiao").value

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    axios.get('/regionaisjson')
        .then(function (response) {
            var regions_data = response.data;

            var blueLayer = L.geoJson(regions_data, {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.regiao);
                },
                style: function (feature) {
                    return { color: "#0000ff" };
                }
            }).addTo(map);

            var redLayer = L.geoJson(regions_data, {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup(feature.properties.regiao);
                },
                style: function (feature) {
                    if (idRegiao && feature.properties.idRegiao == idRegiao) {
                        return { color: "#ff0000" };
                    } else {
                        return { color: "transparent" };
                    }
                }
            }).addTo(map);

            // OCORRÊNCIAS EM ATENDIMENTO
            var ocorrenciasEmAtendimento = [
                {% for row in listOcorrenciaDespachada %}
                    {
                txtLat: '{{ row.txtLat }}',
                txtLong: '{{ row.txtLong }}',
                txtProblema: '{{ row.txtProblema }}',
                icon: '{{ row.subtipoOcorrencia.tipoOcorrencia.icon }}'
            },
            {% if not loop.last %}, {% endif %}
    {% endfor %}
            ];
    // var ocorrenciasJSON = JSON.stringify(ocorrenciasEmAtendimento);

    ocorrenciasEmAtendimento.forEach(function (ocorrenciaAtendida) {

        var iconAtendidaUrl = '../static/img/icons/' + ocorrenciaAtendida.icon + 'Green.png';

        var iconAtendido = L.icon({
            iconUrl: iconAtendidaUrl,
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });

        var marker = L.marker([ocorrenciaAtendida.txtLat, ocorrenciaAtendida.txtLong], { icon: iconAtendido }).addTo(map);
        marker.bindPopup(ocorrenciaAtendida.txtProblema);
    });

    // OCORRÊNCIAS PARA ATENDER
    var ocorrenciasParaAtender = [
        {% for row in listDespachar %}
    {
        txtLat: '{{ row.ocorrencia.txtLat }}',
            txtLong: '{{ row.ocorrencia.txtLong }}',
                txtProblema: '{{ row.ocorrencia.txtProblema }}',
                    icon: '{{ row.ocorrencia.subtipoOcorrencia.tipoOcorrencia.icon }}'
    },
    {% if not loop.last %}, {% endif %}
    {% endfor %}
                ];

    ocorrenciasParaAtender.forEach(function (ocorrenciaAtender) {

        var iconAtenderUrl = '../static/img/icons/' + ocorrenciaAtender.icon + 'Red.png';

        var iconAtendido = L.icon({
            iconUrl: iconAtenderUrl,
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });

        var marker = L.marker([ocorrenciaAtender.txtLat, ocorrenciaAtender.txtLong], { icon: iconAtendido }).addTo(map);
        marker.bindPopup(ocorrenciaAtender.txtProblema);
    });


    })
    .catch (function (error) {
    console.error('Erro ao buscar dados:', error);
    });

</script>

<script>

    var figViatura = '../static/img/icons/viatura.png';
    var iconViatura = L.icon({
            iconUrl: figViatura,
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });
    var viaturaMarker = L.marker([lat, lng], { icon: iconViatura }).addTo(map);

    socket.on('position', function(data) {

        var lat = data.lat;
        var lng = data.lng;
        viaturaMarker.setLatLng([lat, lng]);

    });

</script>

<script>
    // Função para formatar o número com zero à esquerda se necessário
    function formatarNumero(numero) {
        return numero < 10 ? '0' + numero : numero;
    }

    // Função para obter a data e hora atuais
    function obterDataHora() {
        var dataHoraAtual = new Date();

        // Obter partes da data
        var diaSemana = new Intl.DateTimeFormat('pt-BR', { weekday: 'long' }).format(dataHoraAtual);
        diaSemana = diaSemana.charAt(0).toUpperCase() + diaSemana.slice(1);

        var dia = formatarNumero(dataHoraAtual.getDate());
        var mes = new Intl.DateTimeFormat('pt-BR', { month: 'long' }).format(dataHoraAtual);
        var ano = dataHoraAtual.getFullYear();

        // Formatar partes da data
        var dataFormatada = diaSemana + ', ' + dia + ' de ' + mes + ' de ' + ano;

        // Atualizar a div dataDiv
        var dataDiv = document.getElementById('dataDiv');
        dataDiv.innerHTML = dataFormatada;

        // Configurar a atualização da hora a cada segundo
        setInterval(atualizarHora, 1000);
    }

    // Função para atualizar a hora
    function atualizarHora() {
        var dataHoraAtual = new Date();

        // Obter partes da hora
        var hora = formatarNumero(dataHoraAtual.getHours());
        var minutos = formatarNumero(dataHoraAtual.getMinutes());
        var segundos = formatarNumero(dataHoraAtual.getSeconds());

        // Formatar partes da hora
        var horaFormatada = hora + ':' + minutos + ':' + segundos;

        // Atualizar a div HoraDiv
        var horaDiv = document.getElementById('HoraDiv');
        horaDiv.innerHTML = horaFormatada;
    }

    // Chamar a função ao carregar a página
    window.onload = function () {
        obterDataHora();
    };
</script>

<script>
    socket.on('atualizar_lista_despachar', function () {
        atualizarListaDespachar();
    });

    function atualizarListaDespachar() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var listaItens = document.getElementById('listADespachar');
                listaItens.innerHTML = xhr.responseText;
            }
        };
        xhr.open('GET', '/loadListADespachar', true);
        xhr.send();
    }

</script>

<script>
    function prepareDespachar(idOcorrencia) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var listaItens = document.getElementById('formDespacho');
                listaItens.innerHTML = xhr.responseText;
            }
        };
        xhr.open('GET', '/prepareDespachar/' + idOcorrencia, true);
        xhr.send();
    }
</script>

{% endblock conteudo %}