
<div class="card-header text-center" style="background-color: #525B62;">
    <div class="card-title text-center" style="color: antiquewhite;"><strong>Ocorrência Atual</strong></div>
    <span style="color: antiquewhite;">{{ocorrencia.numOcorrencia}}</span>
</div>
<div class="card-body" style="font-size: 0.9em; background-color: gray;  color: white;">
    <div class="mb-1">
        <strong>Descrição:</strong> {{ocorrencia.txtProblema}}
    </div>
    <div class="mb-1">
        <strong>Endereço:</strong> {{ocorrencia.txtEndereco}}
    </div>
    <div class="mb-1">
        <strong>Status:</strong> {{ocorrencia.ocorrenciaHistorico.statusOCorrencia.txtStatusOcorrencia}}
    </div>
    <div class="mb-1">
        <strong>Tipo de Ocorrência:</strong> {{ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}}
    </div>
    <div class="mb-1">
        <strong>Subtipo de Ocorrência:</strong> {{ocorrencia.subtipoOcorrencia.txtSubtipoOcorrencia}}
    </div>
    <div class="mb-1">
        <strong>Início:</strong> {{ocorrencia.dataInicio.strftime('%d/%m/%Y'+' às '+ '%H:%M'+'h')}}
    </div>
    <div class="mb-1">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('despacho.despachar') }}">
            <div class="mb-1">
                <div>
                    <div class="row">
                        <div class="col">
                            <div class="d-none">
                                {{form.ocorrencia.label(class_="form-label")}}
                                {{form.ocorrencia(class_="form-control")}}
                                {% for error in form.ocorrencia.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="d-none">
                                {{form.idRegiao.label(class_="form-label")}}
                                {{form.idRegiao(class_="form-control")}}
                                {% for error in form.idRegiao.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-1" >
                                {{form.despacharPara.label(class_="form-label")}}
                                {{form.despacharPara(class_="form-control")}}
                                {% for error in form.despacharPara.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex mx-auto justify-content-md-end mt-2">
                {{ form.submit(class_="btn btn-primary btn-sm") }}
            </div>
        </form>
    </div>
    <div id="dataHoraDiv" class="text-center pt-1 pb-0" style="font-weight: bold; color: yellow;"></div>
</div>

