{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid mt-3 rounded mb-2" id="form-cadastro-evento">

    <div class="container-fluid">
        <div class="card mb-2">
            <h6 class="card-header fw-bold" style="background-color: #212529; color: aliceblue; ">
            <i class="fas fa-bell fw-bold" style="color: yellow;"></i>
            Ocorrência Nº: {{despachoHistorico.despacho.ocorrencia.numOcorrencia}}
            </h6>
            <div class="card-body" style="background-color: rgb(183, 172, 172);">
                <div class="mb-2">
                    <p><strong>Problema:</strong> {{despachoHistorico.despacho.ocorrencia.txtProblema}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Endereço:</strong> {{despachoHistorico.despacho.ocorrencia.txtEndereco}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Status:</strong> {{despachoHistorico.despacho.ocorrencia.ocorrenciaHistorico.statusOCorrencia.txtStatusOcorrencia}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Tipo de Ocorrência:</strong>
                    {{despachoHistorico.despacho.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Subtipo de Ocorrência:</strong>
                    {{despachoHistorico.despacho.ocorrencia.subtipoOcorrencia.txtSubtipoOcorrencia}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Início:</strong> {{despachoHistorico.despacho.ocorrencia.dataInicio.strftime('%d/%m/%Y %H:%M'+'h')}}</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h6 class="card-header fw-bold" style="background-color: #212529; color: aliceblue; ">
                <!-- Despacho  -->
                <i class="fas fa-car fw-bold" style="color: white;"></i> Viatura {{despachoHistorico.despacho.composicaoViatura.viatura}}
            </h6>
            <div class="card-body" style="background-color: rgb(183, 172, 172);">
                <div class="mb-2">
                    <p><strong>Agente:</strong> {{despachoHistorico.despacho.composicaoViatura.agente.usuario.name.capitalize()}}</p>
                </div>
                <div class="mb-2">
                    <p><strong>Status: </strong> {{despachoHistorico.statusDespacho.txtStatusDespacho}}</p>
                </div>                
                <div class="mb-2">
                    <p><strong>Início:</strong> {{despachoHistorico.dataInicio.strftime('%d/%m/%Y' + ' às ' + '%H:%M' + 'h')}}</p>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <h5 class="card-header fw-bold" style="background-color: #212529; color: aliceblue; ">
                <i class="fas fa-user-edit"></i>
                Observações
            </h5>
            <div class="card-body" style="background-color: rgb(183, 172, 172);">
                {% for obs in despachoHistorico.listObservacao %}
                <span class="font-weight-bold">{{obs.usuario.name.capitalize()}}</span> em
                <span class="fw-normal">{{obs.dataInicio.strftime('%d/%m/%Y %H:%M')}}: </span>
                <span class="fw-normal">{{obs.txtObservacao}}</span> <br>
                {% if (obs.fileBase64) %}
                <div class="mt-2 mb-2">
                    <img class="img-thumbnail img-fluid" src="data:image/jpeg;base64,{{obs.fileBase64}}" width="100%">
                </div>
                {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
           
    <div class="container-fluid">
        <form method="POST" enctype='multipart/form-data' action="{{ url_for('despacho.cadastrarObservacao') }}">
            <div class="card mb-2">
                <div class="card-body" style="background-color: rgb(183, 172, 172);">
                    <div class="row">
                        <div class="col">
                            <div>
                                {{form.idDespachoHistorico(class_="form-control")}}
                            </div>                            
                            <div class="mb-3">
                                {{form.observacao.label(class_="form-label")}}
                                {{form.observacao(class_="form-control")}}
                                {% for error in form.observacao.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{form.file.label(class_="form-label")}}
                                {{form.file(class_="form-control")}}
                                {% for error in form.file.errors %}
                                <div class="important">
                                    {{error}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex mx-auto justify-content-md-end mb-2 mt-2">
                {% if (despachoHistorico.idStatusDespacho == 2) %}
                    <button class="btn btn-danger" type="button"
                        onclick="window.location.href='{{ url_for('despacho.finalizarDespacho', idDespachoHistorico=despachoHistorico.id) }}';">Finalizar</button>
                {% endif %}
                {{ form.submit(class_="btn btn-primary") }}
                <button type="button" class="btn btn-danger"
                    onclick="window.location.href='{{url_for('despacho.meusDespachos')}}';">Voltar
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock conteudo %}