  <div class="urban-gov-menu-gov-dashboard">
    <i class="bi bi-house-fill"></i>
    <a href="{{url_for('evento.home')}}"><span class="titulo-menu-gov">Dashboard</span></a>
  </div>
  <div class="menu-categorias">
    <span class="categorias-menu-gov">ATENDIMENTO</span>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-geo-alt-fill"></i>
    <a href="{{url_for('evento.home')}}"><span class="titulo-menu-gov">Monitoramento</span></a>
  </div>
  {% if session["userAdmin"] or session["userGoverno"] %}
  <div class="urban-gov-menu-gov">
    <i class="bi bi-clipboard2-data-fill"></i>
    <a href="{{url_for('evento.iniciar')}}"><span class="titulo-menu-gov">Ocorrência</span></a>
  </div>
  {% endif %}
  <div class="menu-categorias">
    <span class="categorias-menu-gov">ADMINISTRAÇÃO</span>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-car-front-fill"></i>
    <a href="{{url_for('viatura.listar')}}"><span class="titulo-menu-gov">Viaturas</span></a>
  </div>
  <div class="urban-gov-menu-gov">
    <i class="bi bi-search"></i>
    <a href="{{url_for('eventoSearch.prepareSearch')}}"><span class="titulo-menu-gov">Consultas</span></a>
  </div>
  {% if session["userAdmin"] %}
    <div class="urban-gov-menu-gov">
      <i class="bi bi-file-text"></i>
      <a href="{{url_for('relatorio.prepareRelatorio')}}"><span class="titulo-menu-gov">Relatórios</span></a>
    </div>
  {% endif %}
  <div class="urban-gov-menu-gov">
    <i class="bi bi-bar-chart-line"></i>
    <a href="{{url_for('eventoSearch.estatisticas')}}"><span class="titulo-menu-gov">Estatísticas</span></a>
  </div>
  <div class="footer_painel_esquerdo">
    <p class="titulo_footer_painel_esquedo">
      Política de Privacidade </p>
    <p class="Tiger_Dev2022"> © Tiger_Dev 2022 </p>
  </div>