<a href="{{url_for('ocorrencia.iniciar')}}" class="mt-3" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-house-fill"></i>
    <span class="titulo-menu-gov">Dashboard</span>
  </div>
</a>
<div class="menu-categorias">
  <span class="categorias-menu-gov">ATENDIMENTO</span>
</div>
{% if ('URBANCAD_GOVERNO' in session["roles"] or 'URBANCAD_ADMIN' in session["roles"]) %}
  <a href="{{url_for('ocorrencia.prepareSearchOcorrencia')}}">
    <div class="urban-gov-menu-gov">
      <i class="bi bi-geo-alt-fill"></i>
      <span class="titulo-menu-gov">Ocorrências</span>
    </div>
  </a>
{% endif %}
{% if ('URBANCAD_DESPACHO' in session["roles"] or 'URBANCAD_ADMIN' in session["roles"]) %}

      <a class="accordion accordion-flush" id="accordionExample" data-bs-toggle="collapse" data-bs-target="#collapseOne"
      aria-expanded="true" aria-controls="collapseOne">
        <div class="urban-gov-menu-gov">
          <i class="bi bi-newspaper"></i>
          <span class="titulo-menu-gov">Gerenciar Despachos</span>
        </div>
      </a>

      <a href="{{url_for('despacho.prepareSearchDespacho')}}" id="collapseOne"  data-bs-parent="#accordionExample" class="accordion-collapse collapse">
        <div class="urban-gov-menu-gov">
          <i class="bi bi-newspaper"></i>
          <span class="titulo-menu-gov">Despachos</span>
        </div>
      </a>
    
      <a href="{{url_for('despacho.meusDespachos')}}" id="collapseOne"  data-bs-parent="#accordionExample" class="accordion-collapse collapse">
        <div class="urban-gov-menu-gov">
          <i class="bi bi-newspaper"></i>
          <span class="titulo-menu-gov">Meus Despachos</span>
        </div>
      </a>
 

{% endif %}
{% if ('URBANCAD_AGENTE' in session["roles"]) %}
<a href="{{url_for('despacho.meusDespachos')}}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-newspaper"></i>
    <span class="titulo-menu-gov">Meus Despachos</span>
  </div>
</a> 
{% endif %}


{% if ('URBANCAD_ADMIN' in session["roles"]) %}
<div class="menu-categorias">
  <span class="categorias-menu-gov">ADMINISTRAÇÃO</span>
</div>
<a href="{{url_for('viatura.listarViaturas')}}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-car-front-fill"></i>
    <span class="titulo-menu-gov">Viaturas</span>
  </div>
</a>
<a href="{{ url_for('instituicao.prepareSearchInstituicao') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-buildings-fill"></i>
    <span class="titulo-menu-gov">Instituições</span>
  </div>
</a>
<a href="{{ url_for('tipopatrulha.listarTipoPatrulha') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-ev-front-fill"></i>
    <span class="titulo-menu-gov">Tipo de Patrulha</span>
  </div>
</a>
<a href="{{ url_for('grupodespacho.listarGrupoDespacho') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-diagram-3-fill"></i>
    <span class="titulo-menu-gov">Grupo de Despacho</span>
  </div>
</a>
<a href="{{ url_for('usuariogrupodespacho.listarUsuarioGrupoDespacho') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-person-lines-fill"></i>
    <span class="titulo-menu-gov">Usuário Grupo de Despacho</span>
  </div>
</a>
<a href="{{url_for('agente.listarAgente')}}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-person-fill"></i>
    <span class="titulo-menu-gov">Agentes</span>
  </div>
</a>
<a href="{{ url_for('maleta.listarDeteccao') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-globe-americas"></i>
    <span class="titulo-menu-gov">Detecções</span>
  </div>
</a>

<div class="menu-categorias">
  <span class="categorias-menu-gov">ANÁLISES</span>
</div>
<a href="#">
  <div class="urban-gov-menu-gov">
    <i class="bi bi-bar-chart-fill"></i>
    <span class="titulo-menu-gov">Estatísticas</span>
  </div>
</a>
<a href="#">
  <div class="urban-gov-menu-gov">
    <i class="bi bi-file-text-fill"></i>
    <span class="titulo-menu-gov">Relatórios</span>
  </div>
</a>

{% endif %}

{% if ('URBANCAD_AGENTE' in session["roles"]) %}
<a href="{{ url_for('composicao.listarComposicao') }}" >
  <div class="urban-gov-menu-gov">
    <i class="bi bi-car-front-fill"></i>
    <span class="titulo-menu-gov">Formar Composição</span>
  </div>
</a>
{% endif %}

<div class="footer-sidebar mt-auto mb-2">
  <footer class="container-fluid text-left">
    <span class="footer-titulo"> Workspace Urban (URBANCAD) </span><br>
    <span class="footer-info"> Versão 1.0.1 </span> <br>
    <span class="footer-info"> Tiger Soluções 2024 <i class="bi bi-c-circle"></i> </span>
  </footer>
</div>