{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid mt-2 rounded mb-2">

    <div class="container-fluid mt-2">  

        <div class="card mb-2">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h5 class="card-title">Gerenciamento de Instituições</h5>
                        <p class="card-text">Listagem de Instituições</p>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <!-- Botão Cadastrar Instituição -->
                        <button type="button" class="btn btn-primary bg-primary"
                            onclick="window.location.href='{{ url_for('instituicao.prepareCadastrarInstituicao') }}';">Nova
                            Instituicao</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <p class="card-text" style="font-weight: 600;">Consulta de Instituições</p>
            </div>
            <div class="card-body" style="font-size: 0.8rem !important;">
            <!-- Parametros para consulta -->
            </div>    
        </div>       
        <!-- Lista de Instutuições -->
        {% if listInstituicao.items %}
        <div class="table-responsive mt-2">
            <table class="table border table-striped table-hover table-borderless">
                <thead>
                    <tr class="text-center table-secondary">
                        <th scope="col">Nome</th>
                        <th scope="col">Sigla</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in listInstituicao.items %}
                        <tr class="text-center">
                            <td>{{ row.txtInstituicao}}</td>
                            <td>{{ row.txtSigla}}</td>
                            <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M' + 'h')}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if listInstituicao.total > 5 %}
        <!-- Pagination Links-->
        <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
            <a href="{{ url_for('instituicao.prepareSearchInstituicao', page=listInstituicao.prev_num) }}" class="btn btn-outline-primary 
                {% if listInstituicao.page == 1 %}disabled{% endif %}">
                &laquo;
            </a><!-- Loop through the number of pages to display a link for each-->
            {% for page_num in listInstituicao.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
            {% if listInstituicao.page == page_num %}
            <a href="{{ url_for('instituicao.prepareSearchInstituicao', page=page_num) }}" class="btn btn-primary">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('instituicao.prepareSearchInstituicao', page=page_num) }}" class="btn btn-outline-primary">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %} <a href="{{ url_for('instituicao.prepareSearchInstituicao', page=listInstituicao.next_num) }}" class="btn btn-outline-primary 
                {% if listInstituicao.page == listInstituicao.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
            Página {{ listInstituicao.page }} de {{ listInstituicao.pages }}
        </p>
        {% endif %}
        <!-- End Pagination Links-->
        {% else %}
        <p class="text-center">Nenhum registro encontrado.</p>
        {% endif %}
        
    </div>
        

</div>

{% endblock conteudo %}