{% extends 'base.html' %} 
{% block conteudo %}


<h1 class="mt-4">Gerenciamento de Ocorrências</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Tratamento de ocorrências</li>
</ol>
    
<!-- Parametros para consulta -->
<div class="card mb-2">
  <form action="{{url_for('ocorrencia.searchOcorrencia')}}" method="GET">
    <div class="card-header">
      <i class="fas fa-search"></i>
      Consulta Ocorrências
    </div>
    <div class="card-body">
      <!-- Ajuste das colunas para diferentes tamanhos de tela -->
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.numOcorrenciaSearch.label(class_="form-label")}} {{
          form.numOcorrenciaSearch(class="form-control form-control")
          }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.dataInicioSearch.label(class_="form-label")}} {{
          form.dataInicioSearch(class="form-control form-control") }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.dataFimSearch.label(class_="form-label")}} {{
          form.dataFimSearch(class="form-control form-control") }}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.statusSearch.label(class_="form-label")}} {{
          form.statusSearch(class="form-select") }}
        </div>
      </div>
      <div class="col-12 mt-3 d-flex justify-content-lg-start justify-content-sm-center">
          {{ form.submit(class_="btn btn-primary me-2") }}
          <button type="button" class="btn btn-outline-info"
            onclick="window.location.href='{{url_for('ocorrencia.prepareSearchOcorrencia')}}';"><i class="fa fa-eraser"></i>
            Limpar
          </button>
          <!-- Botão Cadastrar Ocorrência -->
          <button type="button" class="btn btn-success ms-2"
            onclick="window.location.href='{{ url_for('ocorrencia.prepareCadastrarOcorrencia') }}';"><i class="fa fa-plus"></i>
            Adicionar
          </button>
      </div>
    </div>
  </form>
</div>
<div class="card">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Tabela de Ocorrências 
  </div>
  <div class="card-body p-0" >
    {% if listOcorrenciaHistorico %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped m-0" style="font-size: 14px;">
        <thead>
          <tr class="text-center table-secondary">
            <th >Noticiante</th>
            <th >Tipo Ocorrência</th>
            <th >Subtipo Ocorrência</th>
            <th >Nº da Ocorrência</th>
            <th >Status</th>
            <th >Data</th>
            <th >Ações</th>
          </tr>
        </thead>
        <tbody class="text-center" id="listOcorrencia">
          {% for row in listOcorrenciaHistorico %}
          <tr>
            <td>{{ row.ocorrencia.interessado.txtInteressado.capitalize()}}</td>
            <td>{{ row.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}}</td>
            <td>{{ row.ocorrencia.subtipoOcorrencia.txtSubtipoOcorrencia}}</td>
            <td>{{ row.ocorrencia.numOcorrencia}}</td>
            {% if row.statusOCorrencia.id == 1 %}
            <td class="badge text-bg-warning">{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
            {% endif %}
            {% if row.statusOCorrencia.id == 2 %}
            <td class="badge text-bg-primary">{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
            {% endif %}
            {% if row.statusOCorrencia.id == 3 %}
            <td class="badge text-bg-info">{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
            {% endif %}
            {% if row.statusOCorrencia.id == 4 %}
            <td class="badge text-bg-success">{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
            {% endif %}
            <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M' + 'h')}}</td>
            <td class="d-flex gap-2 align-items-center justify-content-center">
              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#txtProblemaModal" data-target="#txtProblemaModal"
                data-interessado="{{ row.ocorrencia.interessado.txtInteressado.capitalize() }}"
                data-tipo="{{ row.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia }}"
                data-subtipo="{{ row.ocorrencia.subtipoOcorrencia.txtSubtipoOcorrencia }}"
                data-numero="{{ row.ocorrencia.numOcorrencia }}" data-status="{{ row.statusOCorrencia.txtStatusOcorrencia }}"
                data-datainicio="{{ row.dataInicio.strftime('%d/%m/%Y %H:%M') }}" data-txtproblema="{{ row.ocorrencia.txtProblema }}"
                role="button" title="Detalhar Ocorrência">
                <i class="fas fa-eye"></i>
              </a>
              {% if row.statusOCorrencia.id == 1 %}
              <a href="{{ url_for('ocorrencia.prepareAtribuirOcorrencia', idOcorrencia=row.ocorrencia.id, lat=row.ocorrencia.txtLat, long=row.ocorrencia.txtLong) }}"
                class="btn btn-success" role="button" title="Enviar para Grupo de Despacho">
                <i class="fas fa-share-square"></i></a> 
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="txtProblemaModal" tabindex="-1" role="dialog" aria-labelledby="enlargedImageModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xb">
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="txtProblemaModal"><i class="fas fa-bell fw-bold fs-4"></i> Descrição da Ocorrência</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <p id="modalText"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $("#txtProblemaModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget); // Botão que acionou o modal
      var modal = $(this);

      // Extrai os dados dos atributos data-
      var interessado = button.data("interessado");
      var tipo = button.data("tipo");
      var subtipo = button.data("subtipo");
      var numero = button.data("numero");
      var status = button.data("status");
      var dataInicio = button.data("datainicio");
      var txtProblema = button.data("txtproblema");

      // Insere os dados no modal
      modal.find('.modal-body').html(`
        <p><strong>Número da Ocorrência:</strong> ${numero}</p>
        <p><strong>Interessado:</strong> ${interessado}</p>
        <p><strong>Tipo de Ocorrência:</strong> ${tipo}</p>
        <p><strong>Subtipo de Ocorrência:</strong> ${subtipo}</p>
        <p><strong>Status:</strong> ${status}</p>
        <p><strong>Data de Início:</strong> ${dataInicio}</p>
        <p><strong>Descrição do Problema:</strong> ${txtProblema}</p>
      `);
    });

    $("#txtProblemaModal").on("hidden.bs.modal", function () {
      var modal = $(this);
      modal.find('.modal-body').html(''); // Limpa o conteúdo do modal
    });
  });
</script>

<script>

  socket.on('atualizar_lista_ocorrencia', function () {
        atualizarListaDespachar();
    });

  function atualizarListaDespachar() {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
              var listaItens = document.getElementById('listOcorrencia');
              listaItens.innerHTML = xhr.responseText;
          }
      };
      xhr.open('GET', '/loadListOcorrencia', true);
      xhr.send();
  }

</script>

{% endblock conteudo %}