{% extends 'base.html' %}
{% block conteudo %}

<h1 class="mt-4">Gerenciamento de detecções</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Detecções de Veículos</li>
</ol>
         
<!-- Parametros para consulta -->
<div class="card mb-2">
  <form action="{{url_for('maleta.searchDeteccao')}}" method="GET">
    <div class="card-header">
      <i class="fas fa-search"></i>
      Consulta Detecções de Veículos
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{form.dataInicioSearch.label(class_="form-label m-1")}}
            {{form.dataInicioSearch(class="form-control form-control-sm m-1")}}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.horaInicioSearch.label(class_="form-label m-1")}}
          {{form.horaInicioSearch(class="form-control form-control-sm m-1")}}
        </div>              
        <div class="col-lg-3 col-md-6 col-sm-12">
            {{form.dataFimSearch.label(class_="form-label m-1")}}
            {{form.dataFimSearch(class="form-control form-control-sm m-1")}}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          {{form.horaFimSearch.label(class_="form-label m-1")}}
          {{form.horaFimSearch(class="form-control form-control-sm m-1")}}
        </div> 
      </div> 
      <div class="row p-1">
        <div class="col-12">
          {{form.isPlacaSearch.label(class_="form-label")}}
          {{ form.isPlacaSearch(class_="m-1")}}
        </div>
      </div>
      <div class="col-12 mt-3 gap-2 d-flex justify-content-lg-start justify-content-sm-center">
          {{ form.submit(class_="btn btn-primary") }}
          <button type="button" class="btn btn-outline-info"
              onclick="window.location.href='{{url_for('maleta.listarDeteccao')}}';"><i class="fa fa-eraser"></i> Limpar
          </button>
      </div>
    </div>        
  </form>
</div>

<!-- Listagem de Detecção -->
<div class="card">
  <div class="card-header">
    <i class="fas fa-satellite-dish me-1"></i>
    Tabela de Detecções de Veículos
  </div>
  <div class="card-body p-0">
  {% if listDeteccao.items %}
    <div class="table-responsive" >
        <table class="table table-bordered table-hover m-0" style="font-size: 14px;">
            <thead>
                <tr class="text-center table-secondary">
                    <th scope="col">Código</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Placa</th>
                    <th scope="col" width="30%">Imagem</th>
                </tr>
            </thead>
            <tbody>
                {% for row in listDeteccao.items %}
                <tr>
                    <td>{{ row.code }}</td>
                    <td>{{ row.gps_data_lat }}</td>
                    <td>{{ row.gps_data_long }}</td>
                    <td>{{ row.gps_data_timestamp }}</td>
                    <td>{{ row.plate if row.plate else "---" }}</td>
                    <td>
                        <button type="button" class="btn btn-link img_deteccao" data-toggle="modal" data-target="#enlargedImageModal" data-imgsrc="{{row.fileBase64}}">
                            <img class="figure-img rounded " src="data:image/jpeg;base64,{{row.fileBase64}}" width="30%">
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
  {% endif %}
        </table>
    </div>
  <!-- Pagination -->
  {% if not noPagination and listDeteccao.total > 10 %}
  <div class="d-flex justify-content-end m-3 mr-3">
    <!-- Pagination Links-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <!-- Previous Page Link -->
        <li class="page-item {% if listDeteccao.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('maleta.listarDeteccao', page=listDeteccao.prev_num) }}" tabindex="-1"
            aria-disabled="{% if listDeteccao.page == 1 %}true{% endif %}">Anterior</a>
        </li>
  
        <!-- Page Number Links -->
        {% for page_num in listDeteccao.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <li class="page-item {% if listDeteccao.page == page_num %}active{% endif %}">
          <a class="page-link" href="{{ url_for('maleta.listarDeteccao', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}
  
        <!-- Next Page Link -->
        <li class="page-item {% if listDeteccao.page == listDeteccao.pages %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('maleta.listarDeteccao', page=listDeteccao.next_num) }}">Próxima</a>
        </li>
      </ul>
    </nav>
    <!-- Showing current page and total pages -->
    <!-- <p class="text-primary fs-7 text-end">Página {{ listDeteccao.page }} de {{ listDeteccao.pages }}</p> -->
    <!-- End Pagination Links -->
  </div>
  {% else %}
  <p class="text-center">Nenhum registro encontrado.</p>
  {% endif %}

  

  </div>
</div>

<div class="modal fade" id="enlargedImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargedImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img class="img-fluid" id="enlargedImg" src="" alt="Enlarged Image">
        </div>
      </div>
    </div>
</div>         

<script>
    $('#enlargedImageModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Botão que acionou o modal
      var imgSrc = button.data('imgsrc'); // Obtém o atributo 'data-imgsrc' do botão
  
      imgSrc="data:image/jpeg;base64,"+imgSrc

      var modal = $(this);
      modal.find('#enlargedImg').attr('src', imgSrc);
    });
  
    $('#enlargedImageModal').on('hidden.bs.modal', function () {
      var modal = $(this);
      modal.find('#enlargedImg').attr('src', ''); // Limpa a imagem quando o modal for fechado
    });
  </script>
  
 

{% endblock conteudo %}
  