{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid border mt-2 rounded mb-2">

    <div class="container-fluid mt-2">

        <div class="card mb-2">
            <div class="card-body">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <h5 class="card-title">Gerenciamento de Despachos</h5>
                        <p class="card-text">Listagem de despachos</p>
                    </div>
                </div>
            </div>
        </div>
   
        <!-- LISTAGEM DE DESPACHOS REALIZADOS -->
        {% if listOcorrenciaDespachada %}
            LISTAGEM DE DESPACHOS REALIZADOS
            <div class="container-fluid">
                {% for row in listOcorrenciaDespachada %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Ocorrência Nº: {{ row.numOcorrencia}}</h5>
                                <div class="table-responsive mt-2">
                                    <table class="table border table-striped table-hover table-borderless">
                                        <tr>
                                            <th scope="col">Ocorrência</th>
                                            <th scope="col">Status da Ocorrência</th>
                                            <th scope="col">Data</th>
                                            <th scope="col">Finalizar</th>
                                        </tr>
                                        <tr>
                                            <td>{{ row.txtProblema}}</td>
                                            <td>{{ row.ocorrenciaHistorico.statusOCorrencia.txtStatusOcorrencia}}</td>
                                            <td>{{ row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                                            <td>
                                                <button class="btn btn-danger me-2" {% if not row.exibeFinalizarOcorrencia %}disabled{% endif %}
                                                type="button" onclick="window.location.href='{{ url_for('ocorrencia.finalizarOcorrencia', idOcorrenciaHistorico=row.ocorrenciaHistorico.id) }}';">Finalizar</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <table class="table border table-striped table-hover table-borderless">
                                                    {% for row in row.listDespacho %}
                                                        <tr>
                                                            <th scope="col">Status do Despacho</th>
                                                            <th scope="col">Responsável</th>
                                                            <th scope="col">Viatura</th>
                                                            <th scope="col">Data</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ row.despachoHistorico.statusDespacho.txtStatusDespacho}}</td>
                                                            <td>{{ row.composicaoViatura.agente.usuario.name}}</td>
                                                            <td>{{ row.composicaoViatura.viatura}}</td>
                                                            <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                </table>
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                    </div>
                {%endfor%}
        {% endif %}


        <!-- LISTAGEM DE OCORRÊNCIAS PRA DESPACHAR -->
        {% if listDespachar.items %}
        LISTAGEM DE OCORRÊNCIAS PRA DESPACHAR
        <div class="table-responsive mt-2">
            <table class="table border table-striped table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Ocorrência</th>
                        <th scope="col">Status da Ocorrência</th>
                        <th scope="col">Criada em</th>
                        <th scope="col">Atribuída em</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in listDespachar.items %}
                    <tr>
                        <td>{{ row.ocorrencia.txtProblema}}</td>
                        <td>{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
                        <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                        <td>{{row.ocorrencia.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                        <td>
                            <a
                            href="{{ url_for('despacho.prepareDespachar', idOcorrencia=row.ocorrencia.id) }}"
                            class="btn btn-danger btn-sm"
                            role="button"
                            title="Despachar">
                            <i class="bi bi-box-arrow-up-right"></i>
                          </a>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pagination Links-->
        <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
            <a href="{{ url_for('despacho.prepareSearchDespacho', page=listDespachar.prev_num) }}" class="btn btn-outline-primary 
            {% if listDespachar.page == 1 %}disabled{% endif %}">
                &laquo;
            </a><!-- Loop through the number of pages to display a link for each-->
            {% for page_num in listDespachar.iter_pages(left_edge=1, right_edge=1, left_current=1,  right_current=2) %}
            {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
            {% if listDespachar.page == page_num %}
            <a href="{{ url_for('despacho.prepareSearchDespacho', page=page_num) }}" class="btn btn-primary">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('despacho.prepareSearchDespacho', page=page_num) }}" class="btn btn-outline-primary">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %} <a href="{{ url_for('despacho.prepareSearchDespacho', page=listDespachar.next_num) }}"
                class="btn btn-outline-primary 
            {% if listDespachar.page == listDespachar.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
            Página {{ listDespachar.page }} de {{ listDespachar.pages }}
        </p>
        <!-- End Pagination Links-->
        {% else %}
        <p class="text-center">Nenhum registro de Ocorrência para Despachar encontrado.</p>
        {% endif %}

    </div>

</div>
    {% endblock conteudo %}