{% include 'include.html' %}
<div>
    {% for row in listDespachar %}
        <tr>
            <td> {{ row.ocorrencia.numOcorrencia}} </td>
            <td> {{ row.ocorrencia.interessado.txtInteressado}} </td>
            <td> {{ row.ocorrencia.txtEndereco}} </td>
            <td> {{ row.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}} </td>
            <td> {{ row.statusOCorrencia.txtStatusOcorrencia}} </td>
            <td class="text-start">
                <a onclick="prepareDespachar('{{ row.ocorrencia.id }}')"
                    class="btn btn-success btn-sm" role="button" title="Despachar">
                    <i class="bi bi-box-arrow-up-right"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</div>
