<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>URBAN CAD</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- CSS do Projeto -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/styles_login_register.css')}}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/815b3dd720.js" crossorigin="anonymous"></script>
</head>

<body class="body-login">
    <section>
        <div class="container py-5 h-100" style="opacity: 0.9;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center pb-1">

                            <div class="mb-md-5 mt-md-4 pb-2">
                                {% with messages = get_flashed_messages(category_filter = ['sucess']) %}
                                {% if messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ messages[0] }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}
                                {% endwith %}

                                {% with messages = get_flashed_messages(category_filter = ['error']) %}
                                {% if messages %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ messages[0] }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                {% endif %}
                                {% endwith %}
                                <h2 class="fw-bold mb-2 text-uppercase">URBANCAD</h2>
                                <p class="text-white-50 mb-5">Digite seu login e senha para acessar!</p>
                                <form action="" method="POST">
                                    <div class="form-outline form-white mb-4 text-start">
                                        {{form.email.label(class_="form-label")}}
                                        {{form.email(class_="form-control")}}
                                        {% for error in form.email.errors %}
                                        <div class="important">
                                            {{error}}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <div class="form-outline form-white mb-4 text-start">
                                        {{form.password.label(class_="form-label")}}
                                        {{form.password(class_="form-control")}}
                                        {% for error in form.password.errors %}
                                        <div class="important">
                                            {{error}}
                                        </div>
                                        {% endfor %}
                                    </div>

                                    <p class="mb-5 pb-lg-2"><a class="text-white-50" href="#!">Esqueceu a senha?</a></p>

                                    <div class="d-grid mb-3 mt-5">
                                        {{ form.submit(class="btn btn-primary") }}
                                    </div>
                                </form>

                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                    <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                    <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                </div>

                            </div>

                            <div>
                                <p class="mb-0">Ainda não tem acesso? <a href="{{url_for('login.register')}}"
                                        class="text-white-50 fw-bold">clique aqui</a>
                                </p>
                            </div>

                            <div class="card-footer mt-4" style="border-top-color: gray;">
                                <footer class="container-fluid text-start py-1">
                                    <span class="footer-titulo"> Workspace Urban (URBANCAD) </span><br>
                                    <span class="footer-info"> Versão 1.0.1 </span> <br>
                                    <span class="footer-info"> Tiger Soluções 2024 <i class="bi bi-c-circle"></i>
                                    </span>
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>
</body>

</html>