{% include 'include.html' %}
{% extends 'base.html' %}
{% block conteudo %}

<h1 class="mt-4">Gerenciamento de Despachos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Gerencie aqui seus despachos</li>
</ol>
                      
                   
<div class="card" id="listMeusDespachos">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabela de Despachos
    </div>
    <div class="card-body">
    {% if listDespachoHistorico %}
        <div class="table-responsive">
            <table class="table table-bordered" style="font-size: 14px;">
                <thead>
                    <tr class="text-center table-secondary">
                        <th scope="col">Tipo Ocorrência</th>
                        <th scope="col">Nº da Ocorrência</th>
                        <th scope="col">Status</th>
                        <th scope="col">Despachado para</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in listDespachoHistorico %}
                    <tr class="text-center">
                        <td>{{ row.despacho.ocorrencia.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia}}</td>
                        <td>{{ row.despacho.ocorrencia.numOcorrencia}}</td>
                            {% if row.statusDespacho.id == 1 %}
                            <td><span class="badge text-bg-warning">{{ row.statusDespacho.txtStatusDespacho}}</span></td>
                            {% endif %}
                            {% if row.statusDespacho.id == 2 %}
                            <td><span class="badge text-bg-info">{{ row.statusDespacho.txtStatusDespacho}}</span></td>
                            {% endif %}
                            {% if row.statusDespacho.id == 3 %}
                            <td><span class="badge text-bg-success">{{ row.statusDespacho.txtStatusDespacho}}</span></td>
                            {% endif %}
                        <td>{{ row.despacho.composicaoViatura.viatura }}</td>
                        <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                        <td>
                            {% if row.statusDespacho.id == 1 %}
                                <a
                                href="{{ url_for('despacho.atenderDespacho', idDespachoHistorico=row.id) }}"
                                class="btn btn-danger btn-sm"
                                role="button"
                                title="Atender">
                                <i class="fas fa-share-square"></i>
                                </a>
                            {% endif %}
                            {% if row.statusDespacho.id == 2 %}
                                <a
                                href="{{ url_for('despacho.gerenciarDespacho', idDespachoHistorico=row.id) }}"
                                class="btn btn-primary"
                                role="button"
                                title="Gerenciar">
                                <i class="fas fa-cogs"></i>
                                </a>
                            {% endif %}                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    {% endif %}
    </div>
</div> 
   

<script>
  
    socket.on('atualizar_lista_meus_despachos_agente', function () {
        atualizarListaMeusDespachos();
    });
  
    function atualizarListaMeusDespachos() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var listaItens = document.getElementById('listMeusDespachos');
                listaItens.innerHTML = xhr.responseText;
            }
        };
        xhr.open('GET', '/loadListMeusDespachos', true);
        xhr.send();
    }
  
</script>

{% endblock conteudo %}