{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">

    <div class="container-fluid border mt-1 rounded p-4 mb-2">

        <div class="row d-flex">
            <div class="col m-0">
              <h6 class="titulo-filtra-demandas m-0"><strong><i class="bi bi-list-ul"></i>&nbsp;&nbsp; Listagem de Ocorrências</strong></h6>
            </div>
            <!-- Botão Cadastrar Ocorrência -->
            <div class="col d-flex justify-content-md-end p-1 mt-1">
              <button type="button" class="btn btn-primary bg-primary" onclick="window.location.href='{{ url_for('ocorrencia.prepareCadastrarOcorrencia') }}';">Nova Ocorrência</button>
            </div>
          </div>        
   
    {% if listOcorrenciaHistorico.items %}
    <div class="table-responsive mt-2">
        <table class="table border table-striped table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">Tipo Ocorrência</th>
                    <th scope="col">Subtipo Ocorrência</th>
                    <th scope="col">Nº da Ocorrência</th>
                  <!--  <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th> -->
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for row in listOcorrenciaHistorico.items %}
                <tr>
                    <td>{{ row.ocorrencia.subcategoria.tipoCororrencia.txtTipoOcorrencia}}</td>
                    <td>{{ row.ocorrencia.subcategoria.txtSubtipoOcorrencia}}</td>
                    <td>{{ row.ocorrencia.numOcorrencia}}</td>
                    <!--<td>{{ row.ocorrencia.txtLat}}</td>
                    <td>{{ row.ocorrencia.txtLong }}</td>-->
                    <td>{{ row.statusOCorrencia.txtStatusOcorrencia}}</td>
                    <td>{{row.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination Links-->
    <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
        <a href="{{ url_for('ocorrencia.searchOcorrencia', page=listOcorrenciaHistorico.prev_num) }}" class="btn btn-outline-primary 
            {% if listOcorrenciaHistorico.page == 1 %}disabled{% endif %}">
            &laquo;
        </a><!-- Loop through the number of pages to display a link for each-->
        {% for page_num in listOcorrenciaHistorico.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if listOcorrenciaHistorico.page == page_num %}
        <a href="{{ url_for('ocorrencia.searchOcorrencia', page=page_num) }}" class="btn btn-primary">
            {{ page_num }}
        </a>
        {% else %}
        <a href="{{ url_for('ocorrencia.searchOcorrencia', page=page_num) }}" class="btn btn-outline-primary">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %} <a href="{{ url_for('ocorrencia.searchOcorrencia', page=listOcorrenciaHistorico.next_num) }}" class="btn btn-outline-primary 
            {% if listOcorrenciaHistorico.page == listOcorrenciaHistorico.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
        Página {{ listOcorrenciaHistorico.page }} de {{ listOcorrenciaHistorico.pages }}
    </p>
    <!-- End Pagination Links-->
    {% else %}
    <p class="text-center">Nenhum registro encontrado.</p>
    {% endif %}
    
</div>
    

{% endblock conteudo %}