{% extends 'base.html' %}
{% block conteudo %}

<h1 class="mt-4">Notificações</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Veja as notificações do sistema.</li>
</ol>


<div class="container border p-1 m-0" style="background-color: #F7F7F7;" >
    
    {% for row in listOcorrenciaDespachada %}
        <a href="#"  onclick="window.location.href='{{ url_for('ocorrencia.visualizarOcorrencia', idOcorrencia=row.id) }}';" class="text-decoration-none text-dark"><div class="row d-flex justify-content-between mb-2 mt-2">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <i class="fas fa-bell text-danger fs-2"></i>
            </div>
            <div class="col-8">
                <div class="mb-1">
                    <span class="fw-medium">Nova ocorrência despachada para:</span><br>
                    <span><strong>Equipe:</strong> 
                        {% for despacho in row.listDespacho %}
                            <span class="text-danger">{{ despacho.composicaoViatura.viatura}}<br></span>
                            {% endfor %}
                    </span>
                </div>
                <div class="mb-1">
                    {% if row.subtipoOcorrencia %}
                    <span><strong>Tipo:</strong><span class="text-danger me-2"> {{ row.subtipoOcorrencia.tipoOcorrencia.txtTipoOcorrencia.capitalize()}}</span>
                    {% else %}
                    <span><strong>Tipo:</strong><span class="text-danger me-2"> Não Informada</span>
                    {% endif %}
                    <spa><strong>Código da ocorrência:</strong> <span class="text-danger">{{ row.numOcorrencia}}</span>
                </div>
            </div>
            <div class="col-2 d-flex align-items-end justify-content-start">
                <span class="text-muted">{{ row.horaByData}}</span>
            </div>
        </div></a>
        <hr class="text-muted">  
    {% endfor %} 
    
</div>


{% endblock %}